In [1]:
#!/usr/bin/python3
# -*-coding:utf-8
'''
Created on Fri Dec 1 22:22:35 2017

@author: Ray

'''
import time
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import utils # written by author
from glob import glob
from datetime import datetime, timedelta
import multiprocessing as mp
import gc # for automatic releasing memory

In [3]:
def drop_first_columns(x):
    return x.tail(n = x.shape[0] -1)
def within_n_days(x, T, n = 7):
	# n = 7, 14, 30, 60, 90,
	##################################################
	# Filtering accroding to w
	##################################################
	if T == 0:
		# w = 0:使用3月之前的資料當作history
		prediction_deadline = datetime.strptime('2017-03-01', '%Y-%m-%d')
	elif T == 1:
		# w = 1:使用2月之前的資料當作history
		prediction_deadline = datetime.strptime('2017-02-01', '%Y-%m-%d')
	elif T == 2:
		# w = 2:使用1月之前的資料當作history
		prediction_deadline = datetime.strptime('2017-01-01', '%Y-%m-%d')
	elif T == -1:
		# w = -1:使用4月之前的資料當作history
		prediction_deadline = datetime.strptime('2017-04-01', '%Y-%m-%d')
	check_points = prediction_deadline - timedelta(n) # 往prediction_deadline前n天內
	x = x[ (x.date >= check_points )]
	return x

df = df.groupby('msno').apply(drop_first_columns) # 每個user第一欄不用
df.reset_index(drop = True, inplace = True)
#df.reset_index()

In [4]:
df = pd.read_csv('small_df_for_developing_and_debugging.csv', parse_dates = ['date'])
df.head()

                                           msno       date
0  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2016-11-16
1  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2016-11-17
2  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2016-11-18
3  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2016-11-19
4  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2016-11-20

In [5]:
df['date_diff'] = [i.days for i in (df.date - df['date'].shift(1))]
print ('shape of df:', df.shape)

df = df.groupby('msno').apply(drop_first_columns) # 每個user第一欄不用
df.reset_index(drop = True, inplace = True)

shape of df: (50000, 3)

# num_in_a_row

In [10]:
T = 0
folder = 'trainW-'+ str(T)
##################################################
# All history
##################################################

# core
tbl = df[df.date_diff == 1].groupby('msno').date_diff.size().to_frame() # date_diff == 1: mean in a row
tbl.columns = ['listen_music_in_a_row_count']
tbl['listen_music_in_a_row_ratio'] = tbl.listen_music_in_a_row_count / df.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../../feature/{}/listen_music_in_a_row_count.csv'.format(folder), index = False)
del tbl
gc.collect()
##################################################
# n = 7
##################################################
df_ = df.groupby('msno').apply(within_n_days, T, n = 7).reset_index(drop = True)
#core
tbl = df_[df_.date_diff == 1].groupby('msno').date_diff.size().to_frame()
tbl.columns = ['listen_music_in_a_row_count_during_t_7']
tbl['listen_music_in_a_row_ratio_during_t_7'] = tbl.listen_music_in_a_row_count_during_t_7 / df_.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../../feature/{}/listen_music_in_a_row_count_during_t_7.csv'.format(folder), index = False)
del tbl
gc.collect()
##################################################
# n = 14
##################################################
df_ = df.groupby('msno').apply(within_n_days, T, n = 14).reset_index(drop = True)
#core
tbl = df_[df_.date_diff == 1].groupby('msno').date_diff.size().to_frame()
tbl.columns = ['listen_music_in_a_row_count_during_t_14']
tbl['listen_music_in_a_row_ratio_during_t_14'] = tbl.listen_music_in_a_row_count_during_t_14 / df_.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../../feature/{}/listen_music_in_a_row_count_during_t_14.csv'.format(folder), index = False)
del tbl
gc.collect()
##################################################
# n = 30
##################################################
df_ = df.groupby('msno').apply(within_n_days, T, n = 30).reset_index(drop = True)
#core
tbl = df_[df_.date_diff == 1].groupby('msno').date_diff.size().to_frame()
tbl.columns = ['listen_music_in_a_row_count_during_t_30']
tbl['listen_music_in_a_row_ratio_during_t_30'] = tbl.listen_music_in_a_row_count_during_t_30 / df_.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../../feature/{}/listen_music_in_a_row_count_during_t_30.csv'.format(folder), index = False)
del tbl
gc.collect()
##################################################
# n = 60
##################################################
df_ = df.groupby('msno').apply(within_n_days, T, n = 60).reset_index(drop = True)
#core
tbl = df_[df_.date_diff == 1].groupby('msno').date_diff.size().to_frame()
tbl.columns = ['listen_music_in_a_row_count_during_t_60']
tbl['listen_music_in_a_row_ratio_during_t_60'] = tbl.listen_music_in_a_row_count_during_t_60 / df_.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../../feature/{}/listen_music_in_a_row_count_during_t_60.csv'.format(folder), index = False)
del tbl
gc.collect()
##################################################
# n = 90
##################################################
df_ = df.groupby('msno').apply(within_n_days, T, n = 90).reset_index(drop = True)
#core
tbl = df_[df_.date_diff == 1].groupby('msno').date_diff.size().to_frame()
tbl.columns = ['listen_music_in_a_row_count_during_t_90']
tbl['listen_music_in_a_row_ratio_during_t_90'] = tbl.listen_music_in_a_row_count_during_t_90 / df_.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../../feature/{}/listen_music_in_a_row_count_during_t_90.csv'.format(folder), index = False)
del tbl
gc.collect()

100%|██████████| 3/3 [00:00<00:00, 1366.22it/s]

reduce memory

100%|██████████| 3/3 [00:00<00:00, 1639.47it/s]

reduce memory

100%|██████████| 3/3 [00:00<00:00, 1482.26it/s]

reduce memory

100%|██████████| 3/3 [00:00<00:00, 1038.11it/s]

reduce memory

100%|██████████| 3/3 [00:00<00:00, 1300.42it/s]

reduce memory

100%|██████████| 3/3 [00:00<00:00, 1425.02it/s]

reduce memory

27

# date_diff

In [49]:
##################################################
# All history
##################################################

#core
tbl = df.groupby('msno').date_diff.mean().to_frame()
tbl.columns = ['date_diff-mean']
tbl['date_diff-min'] = df.groupby('msno').date_diff.min()
tbl['date_diff-max'] = df.groupby('msno').date_diff.max()
tbl['date_diff-median'] = df.groupby('msno').date_diff.median()
tbl['date_diff-std'] = df.groupby('msno').date_diff.std()
tbl.reset_index(inplace = True)
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../feature/{}/date_diff.csv'.format(folder), index = False)
del tbl
gc.collect()

##################################################
# n = 7
##################################################
df_ = df.groupby('msno').apply(within_n_days,T, n = 7).reset_index(drop = True)
#core
tbl = df_.groupby('msno').date_diff.mean().to_frame()
tbl.columns = ['date_diff_during_t_7-mean']
tbl['date_diff_during_t_7-min'] = df_.groupby('msno').date_diff.min()
tbl['date_diff_during_t_7-max'] = df_.groupby('msno').date_diff.max()
tbl['date_diff_during_t_7-median'] = df_.groupby('msno').date_diff.median()
tbl['date_diff_during_t_7-std'] = df_.groupby('msno').date_diff.std()
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../feature/{}/date_diff_during_t_7.csv'.format(folder), index = False)
del tbl
gc.collect()

##################################################
# n = 14
##################################################
df_ = df.groupby('msno').apply(within_n_days,T, n = 14).reset_index(drop = True)
#core
tbl = df_.groupby('msno').date_diff.mean().to_frame()
tbl.columns = ['date_diff_during_t_14-mean']
tbl['date_diff_during_t_14-min'] = df_.groupby('msno').date_diff.min()
tbl['date_diff_during_t_14-max'] = df_.groupby('msno').date_diff.max()
tbl['date_diff_during_t_14-median'] = df_.groupby('msno').date_diff.median()
tbl['date_diff_during_t_14-std'] = df_.groupby('msno').date_diff.std()
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../feature/{}/date_diff_during_t_14.csv'.format(folder), index = False)
del tbl
gc.collect()

##################################################
# n = 30
##################################################
df_ = df.groupby('msno').apply(within_n_days,T, n = 30).reset_index(drop = True)	
#core
tbl = df_.groupby('msno').date_diff.mean().to_frame()
tbl.columns = ['date_diff_during_t_30-mean']
tbl['date_diff_during_t_30-min'] = df_.groupby('msno').date_diff.min()
tbl['date_diff_during_t_30-max'] = df_.groupby('msno').date_diff.max()
tbl['date_diff_during_t_30-median'] = df_.groupby('msno').date_diff.median()
tbl['date_diff_during_t_30-std'] = df_.groupby('msno').date_diff.std()
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../feature/{}/date_diff_during_t_30.csv'.format(folder), index = False)
del tbl
gc.collect()

##################################################
# n = 60
##################################################
df_ = df.groupby('msno').apply(within_n_days,T, n = 60).reset_index(drop = True)
#core
tbl = df_.groupby('msno').date_diff.mean().to_frame()
tbl.columns = ['date_diff_during_t_60-mean']
tbl['date_diff_during_t_60-min'] = df_.groupby('msno').date_diff.min()
tbl['date_diff_during_t_60-max'] = df_.groupby('msno').date_diff.max()
tbl['date_diff_during_t_60-median'] = df_.groupby('msno').date_diff.median()
tbl['date_diff_during_t_60-std'] = df_.groupby('msno').date_diff.std()
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../feature/{}/date_diff_during_t_60.csv'.format(folder), index = False)
del tbl
gc.collect()
##################################################
# n = 90
##################################################
df_ = df.groupby('msno').apply(within_n_days,T, n = 90).reset_index(drop = True)
#core
tbl = df_.groupby('msno').date_diff.mean().to_frame()
tbl.columns = ['date_diff_during_t_90-mean']
tbl['date_diff_during_t_90-min'] = df_.groupby('msno').date_diff.min()
tbl['date_diff_during_t_90-max'] = df_.groupby('msno').date_diff.max()
tbl['date_diff_during_t_90-median'] = df_.groupby('msno').date_diff.median()
tbl['date_diff_during_t_90-std'] = df_.groupby('msno').date_diff.std()
tbl.reset_index(inplace = True)
del df_
gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(tbl)
# write
tbl.to_csv('../feature/{}/date_diff_during_t_90.csv'.format(folder), index = False)
del tbl
gc.collect()

In [50]:
tbl.head()

,msno,date_diff-mean,date_diff-min,date_diff-max,date_diff-median,date_diff-std
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1.019608,1.0,2.0,1.0,0.139333
1,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,1.296053,1.0,14.0,1.0,1.119477
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1.310631,1.0,9.0,1.0,0.848716
3,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1.195876,1.0,6.0,1.0,0.704261
4,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,1.765766,1.0,10.0,1.0,1.394636

In [52]:
T = 0
##################################################
# n = 7
##################################################
df_ = df.groupby('msno').apply(within_n_days,T, n = 7).reset_index(drop = True)
#core
tbl = df_.groupby('msno').date_diff.mean().to_frame()
tbl.columns = ['date_diff_during_t_7-mean']
tbl['date_diff_during_t_7-min'] = df_.groupby('msno').date_diff.min()
tbl['date_diff_during_t_7-max'] = df_.groupby('msno').date_diff.max()
tbl['date_diff_during_t_7-median'] = df_.groupby('msno').date_diff.median()
tbl['date_diff_during_t_7-std'] = df_.groupby('msno').date_diff.std()
tbl.reset_index(inplace = True)

In [54]:
df_

                                             msno       date  date_diff
0    +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2017-02-22        1.0
1    +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2017-02-23        1.0
2    +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2017-02-24        1.0
3    +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2017-02-25        1.0
4    +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2017-02-26        1.0
5    +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2017-02-27        1.0
6    +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o= 2017-02-28        1.0
7    +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw= 2017-02-22        1.0
8    +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw= 2017-02-23        1.0
9    +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw= 2017-02-24        1.0
10   +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw= 2017-02-25        1.0
11   +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw= 2017-02-26        1.0
12   +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw= 2017-02-27        1.0
13   +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw= 2017-02-28        1.0
14   +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-22        1.0
15   +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-23        1.0
16   +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-25        2.0
17   +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-26        1.0
18   +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-27        1.0
19   +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-28        1.0
20   ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk= 2017-02-22        1.0
21   ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk= 2017-02-23        1.0
22   ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk= 2017-02-24        1.0
23   ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk= 2017-02-25        1.0
24   ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk= 2017-02-26        1.0
25   ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk= 2017-02-27        1.0
26   ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk= 2017-02-28        1.0
27   ++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50= 2017-02-22        1.0
28   ++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50= 2017-02-23        1.0
29   ++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50= 2017-02-24        1.0
..                                            ...        ...        ...
582  +/+aatF6PAhjP/S24IdND/RriHPQ2PO2Qu7oGDMOIHg= 2017-02-27        1.0
583  +/+aatF6PAhjP/S24IdND/RriHPQ2PO2Qu7oGDMOIHg= 2017-02-28        1.0
584  +//9VypSJTaZ25sTPVT8b1FfIwWaVunRnyJAMBpxsBw= 2017-02-22        1.0
585  +//9VypSJTaZ25sTPVT8b1FfIwWaVunRnyJAMBpxsBw= 2017-02-23        1.0
586  +//9VypSJTaZ25sTPVT8b1FfIwWaVunRnyJAMBpxsBw= 2017-02-24        1.0
587  +//9VypSJTaZ25sTPVT8b1FfIwWaVunRnyJAMBpxsBw= 2017-02-25        1.0
588  +//9VypSJTaZ25sTPVT8b1FfIwWaVunRnyJAMBpxsBw= 2017-02-26        1.0
589  +//9VypSJTaZ25sTPVT8b1FfIwWaVunRnyJAMBpxsBw= 2017-02-27        1.0
590  +//9VypSJTaZ25sTPVT8b1FfIwWaVunRnyJAMBpxsBw= 2017-02-28        1.0
591  +//HEIebkda/fQ/k63t/PeP7StfaB0lVxV0ydpninbs= 2017-02-23       35.0
592  +//ToEDr8wVD2p6MVj9faZ1n6cPfko7KS/fk7ZdQcv4= 2017-02-23        4.0
593  +//ToEDr8wVD2p6MVj9faZ1n6cPfko7KS/fk7ZdQcv4= 2017-02-24        1.0
594  +//ToEDr8wVD2p6MVj9faZ1n6cPfko7KS/fk7ZdQcv4= 2017-02-25        1.0
595  +//ToEDr8wVD2p6MVj9faZ1n6cPfko7KS/fk7ZdQcv4= 2017-02-26        1.0
596  +//ToEDr8wVD2p6MVj9faZ1n6cPfko7KS/fk7ZdQcv4= 2017-02-27        1.0
597  +//ToEDr8wVD2p6MVj9faZ1n6cPfko7KS/fk7ZdQcv4= 2017-02-28        1.0
598  +/0vB0COepdiph7sT52MMpVppEAXM624F44qy6jIScM= 2017-02-24        3.0
599  +/1Bg47qjgO1uPba2B8Em9kE/oAXjFx2nlOHsQMJxlg= 2017-02-22        1.0
600  +/1Bg47qjgO1uPba2B8Em9kE/oAXjFx2nlOHsQMJxlg= 2017-02-23        1.0
601  +/1Bg47qjgO1uPba2B8Em9kE/oAXjFx2nlOHsQMJxlg= 2017-02-24        1.0
602  +/1Bg47qjgO1uPba2B8Em9kE/oAXjFx2nlOHsQMJxlg= 2017-02-26        2.0
603  +/1Bg47qjgO1uPba2B8Em9kE/oAXjFx2nlOHsQMJxlg= 2017-02-27        1.0
604  +/1VkQ5ExDQjKd4unRmIJdjMmANzLx3xyXSUot22xzs= 2017-02-27        7.0
605  +/1VkQ5ExDQjKd4unRmIJdjMmANzLx3xyXSUot22xzs= 2017-02-28        1.0
606  +/1gQPlOtzzeq1odUDE2iC7Gl/6KqnWDuvpthlXAHv4= 2017-02-22        1.0
607  +/1gQPlOtzzeq1odUDE2iC7Gl/6KqnWDuvpthlXAHv4= 2017-02-23        1.0
608  +/1gQPlOtzzeq1odUDE2iC7Gl/6KqnWDuvpthlXAHv4= 2017-02-24        1.0
609  +/1gQPlOtzzeq1odUDE2iC7Gl/6KqnWDuvpthlXAHv4= 2017-02-25        1.0
610  +/1gQPlOtzzeq1odUDE2iC7Gl/6KqnWDuvpthlXAHv4= 2017-02-26        1.0
611  +/1gQPlOtzzeq1odUDE2iC7Gl/6KqnWDuvpthlXAHv4= 2017-02-27        1.0

[612 rows x 3 columns]

In [53]:
tbl.head()

,msno,date_diff_during_t_7-mean,date_diff_during_t_7-min,date_diff_during_t_7-max,date_diff_during_t_7-median,date_diff_during_t_7-std
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1.000000,1.0,1.0,1.0,0.000000
1,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,1.000000,1.0,1.0,1.0,0.000000
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1.166667,1.0,2.0,1.0,0.408248
3,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1.000000,1.0,1.0,1.0,0.000000
4,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,1.750000,1.0,4.0,1.0,1.500000

In [ ]:
# num_in_a_row

In [20]:
tbl.head()

,msno,listen_music_in_a_row_count_during_t_7,listen_music_in_a_row_ratio_during_t_7
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,7,1.000000
1,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,7,1.000000
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,5,0.833333
3,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,7,1.000000
4,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,3,0.750000

In [23]:
##################################################
# n = 14
##################################################
df_ = df.groupby('msno').apply(within_n_days, T, n = 14).reset_index(drop = True)
#core
tbl = df_[df_.date_diff == 1].groupby('msno').date_diff.size().to_frame()
tbl.columns = ['listen_music_in_a_row_count_during_t_14']
tbl['listen_music_in_a_row_ratio_during_t_14'] = tbl.listen_music_in_a_row_count_during_t_14 / df_.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)
# del df_
# gc.collect()
# #==============================================================================
# print('reduce memory')
# #==============================================================================
# utils.reduce_memory(tbl)

100%|██████████| 3/3 [00:00<00:00, 2904.64it/s]

reduce memory

In [24]:
tbl.head()

,msno,listen_music_in_a_row_count_during_t_14,listen_music_in_a_row_ratio_during_t_14
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,14,1
1,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,14,1
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,6,0
3,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,14,1
4,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,6,0

In [36]:
df_[df_.msno == '+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=']

                                            msno       date  date_diff
28  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-15        2.0
29  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-17        2.0
30  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-20        3.0
31  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-21        1.0
32  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-22        1.0
33  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-23        1.0
34  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-25        2.0
35  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-26        1.0
36  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-27        1.0
37  +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc= 2017-02-28        1.0

# 12/15

In [2]:
##################################################
# Load transaction 
##################################################

transactions = utils.read_multiple_csv('../../input/preprocessed_data/transactions')

100%|██████████| 4/4 [00:29<00:00,  7.27s/it]

In [3]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22964064 entries, 0 to 5741015
Data columns (total 9 columns):
msno                      object
payment_method_id         int64
payment_plan_days         int64
plan_list_price           int64
actual_amount_paid        int64
is_auto_renew             int64
transaction_date          object
membership_expire_date    object
is_cancel                 int64
dtypes: int64(6), object(3)
memory usage: 1.7+ GB

In [4]:
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(transactions)

reduce memory

100%|██████████| 9/9 [00:00<00:00, 1995.18it/s]

In [5]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22964064 entries, 0 to 5741015
Data columns (total 9 columns):
msno                      object
payment_method_id         int8
payment_plan_days         int16
plan_list_price           int16
actual_amount_paid        int16
is_auto_renew             int8
transaction_date          object
membership_expire_date    object
is_cancel                 int8
dtypes: int16(3), int8(3), object(3)
memory usage: 897.9+ MB

In [11]:
##################################################
# Load user_log 
##################################################

user_logs_v2 = pd.read_csv('../../input/user_logs_v2.csv')

In [50]:
user_logs_v2_ = user_logs_v2.head( n = 5000)

In [51]:
s = time.time()
user_logs_v2_['num_completed_songs'] = user_logs_v2_.num_100 + user_logs_v2_.num_985
user_logs_v2_['num_incompleted_songs'] = user_logs_v2_.num_25 + user_logs_v2_.num_50 + user_logs_v2_.num_75
user_logs_v2_['completed_songs_ratio'] = user_logs_v2_.num_completed_songs/ (user_logs_v2_.num_incompleted_songs + user_logs_v2_.num_completed_songs)
user_logs_v2_['is_satisfied'] = user_logs_v2_.completed_songs_ratio.apply(lambda x: 1 if x > 0.5 else 0)
#num_repeated_songs
user_logs_v2_['num_repeated_songs'] = (user_logs_v2_.num_100 + user_logs_v2_.num_985 + user_logs_v2_.num_75) / user_logs_v2_.num_unq
user_logs_v2_.drop(['num_25','num_50','num_75','num_985','num_100','num_unq'], axis = 1, inplace = True)

# exponential faster than apply(, axis = 1)
e = time.time()
e-s

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0.18526792526245117

In [52]:
user_logs_v2_.head()

,msno,date,total_secs,num_completed_songs,num_incompleted_songs,completed_songs_ratio,is_satisfied,num_repeated_songs
0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,20170331,6309.273,22,12,0.647059,1,1.222222
1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,20170330,2390.699,9,5,0.642857,1,0.909091
2,2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=,20170331,23203.337,87,60,0.591837,1,0.836364
3,ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=,20170331,7100.454,21,182,0.103448,0,0.120419
4,EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=,20170331,28401.558,113,3,0.974138,1,1.215054

In [42]:
def completed_vs_incompleted_songs(x):
    x['num_completed_songs'] = x.num_100 + x.num_985
    x['num_incompleted_songs'] = x.num_25 + x.num_50 + x.num_75
    return x
def num_repeated_songs(x):
    x['num_repeated_songs'] = (x.num_100 + x.num_985 + x.num_75) / x.num_unq
    return x

In [43]:
s = time.time()
user_logs_v2_ = user_logs_v2_.apply(completed_vs_incompleted_songs, axis = 1) # slow
user_logs_v2_ = user_logs_v2_.apply(num_repeated_songs, axis = 1) # slow
e = time.time()
e-s

9.998398065567017

In [44]:
user_logs_v2_.head(n = 10)

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,num_completed_songs,num_incompleted_songs,num_repeated_songs
0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,20170331,8,4,0,1,21,18,6309.273,22,12,1.222222
1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,20170330,2,2,1,0,9,11,2390.699,9,5,0.909091
2,2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=,20170331,52,3,5,3,84,110,23203.337,87,60,0.836364
3,ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=,20170331,176,4,2,2,19,191,7100.454,21,182,0.120419
4,EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=,20170331,2,1,0,1,112,93,28401.558,113,3,1.215054
5,qR/ndQ5B+1cY+c9ihwLoiz+RFiqEnGyQKo32ZErEVKo=,20170331,3,0,0,0,39,41,9786.842,39,3,0.951220
6,N6ch5ArfJixq9mvARJv9ip1D11uvDVazz6Qup5mX7DI=,20170330,9,1,0,0,18,26,4920.255,18,10,0.692308
7,JEjl2W1ivEI6epeobW3n5rDg/r6PJm4OJhtmhwYaQIc=,20170331,181,68,5,3,54,291,22433.105,57,254,0.213058
8,lPK4IYIFdfTT6pq7x2dSV1Vy9j9hNMWzf7XfYBUBz5E=,20170331,3,0,1,1,181,150,46240.281,182,4,1.220000
9,cDgnvwQwCwru2m3zcSuK5oTr6pr1nMPQ/6RerOmxrs0=,20170331,5,4,1,1,30,31,7881.618,31,10,1.032258