In [1]:
#!/usr/bin/python3
# -*-coding:utf-8
'''
Created on Fri Dec 1 22:22:35 2017

@author: Ray

'''
import time
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import utils # written by author
from glob import glob
from datetime import datetime, timedelta
import multiprocessing as mp
import gc # for automatic releasing memory

In [24]:
##################################################
# Load transaction 
##################################################
input_col = ['msno','payment_plan_days','transaction_date', 'membership_expire_date']
transactions = utils.read_multiple_csv('../../input/preprocessed_data/transactions',input_col)
transactions = transactions.head(n = 500)
##################################################
# Convert string to datetime format
##################################################
transactions['membership_expire_date']  = transactions.membership_expire_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
transactions['transaction_date']  = transactions.transaction_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

100%|██████████| 4/4 [00:28<00:00,  7.11s/it]

In [25]:
gc.collect()
transactions.head()

,msno,payment_plan_days,transaction_date,membership_expire_date
0,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,7,2016-09-09,2016-09-14
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,410,2015-11-21,2017-01-04
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,395,2016-10-23,2018-02-06
3,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,30,2016-11-16,2016-12-15
4,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,30,2016-12-15,2017-01-15

# transaction_date_base

In [26]:
##################################################
# For membership_loyalty
##################################################
transactions['how_long_it_will_expire'] = [i.days for i in (transactions.membership_expire_date - transactions.transaction_date)]
transactions['is_how_long_equal_to_plan_days'] = [1 if h_l_e==p_d else 0 for h_l_e, p_d in transactions[['how_long_it_will_expire','payment_plan_days']].values]
transactions['is_how_long_longer_than_plan_days'] = [1 if h_l_e > p_d else 0 for h_l_e, p_d in transactions[['how_long_it_will_expire','payment_plan_days']].values]
transactions['days_longer_than_plan_days'] = [i if i > 0 else 0 for i in (transactions.how_long_it_will_expire - transactions.payment_plan_days)]

##################################################
# 到期日在交易日之前...
##################################################

transactions['is_early_expiration'] = [1 if i.days < 0 else 0 for i in (transactions.membership_expire_date - transactions.transaction_date)]
transactions['early_expiration_days'] = [-i.days if i.days < 0 else 0 for i in (transactions.membership_expire_date - transactions.transaction_date)]

In [27]:
output_col = ['msno','how_long_it_will_expire','is_how_long_equal_to_plan_days',
              'is_how_long_longer_than_plan_days','days_longer_than_plan_days',
             'is_early_expiration','early_expiration_days'
             ]
transactions[output_col]

,msno,how_long_it_will_expire,is_how_long_equal_to_plan_days,is_how_long_longer_than_plan_days,days_longer_than_plan_days,is_early_expiration,early_expiration_days
0,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,5,0,0,0,0,0
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,410,1,0,0,0,0
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,471,0,1,76,0,0
3,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,29,0,0,0,0,0
4,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,31,0,1,1,0,0
5,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,31,0,1,1,0,0
6,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,28,0,0,0,0,0
7,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,31,0,1,1,0,0
8,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,47,0,1,16,0,0
9,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,19,0,0
10,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,49,0,1,18,0,0
11,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,50,0,0
12,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,49,0,1,19,0,0
13,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,20,0,0
14,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,20,0,0
15,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,49,0,1,19,0,0
16,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,20,0,0
17,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,47,0,1,17,0,0
18,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,48,0,1,18,0,0
19,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,48,0,1,18,0,0
20,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,20,0,0
21,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,49,0,1,19,0,0
22,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,20,0,0
23,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,49,0,1,19,0,0
24,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,20,0,0
25,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,20,0,0
26,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,47,0,1,17,0,0
27,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,50,0,1,20,0,0
28,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,49,0,1,19,0,0
29,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,31,0,1,1,0,0
...,...,...,...,...,...,...,...
470,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,-1,0,0,0,1,1
471,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,31,0,1,30,0,0
472,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,31,0,1,1,0,0
473,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,32,0,1,2,0,0
474,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,32,0,1,2,0,0
475,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,29,0,0,0,0,0
476,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,32,0,1,2,0,0
477,++4qZOZ7rISM4nY9xcUVPweG0A4Z12cGwzjZHmRzr3g=,7,1,0,0,0,0
478,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,30,1,0,0,0,0
479,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,31,0,1,1,0,0
480,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,30,1,0,0,0,0
481,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,31,0,1,1,0,0
482,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,30,1,0,0,0,0
483,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,31,0,1,1,0,0
484,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,31,0,1,1,0,0
485,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,28,0,0,0,0,0
486,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,31,0,1,1,0,0
487,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,30,1,0,0,0,0
488,++4yteQFM9k0Gjq5fYL02l14u32iEAgTVHXePKB8zcM=,5,0,0,0,0,0
489,++57miEuSte1zcmehY9pZ1u9mZAqA3wX4h6CA5L17SA=,30,1,0,0,0,0
490,++57miEuSte1zcmehY9pZ1u9mZAqA3wX4h6CA5L17SA=,30,1,0,0,0,0
491,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,30,1,0,0,0,0
492,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,31,0,1,1,0,0
493,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,31,0,1,1,0,0
494,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,30,1,0,0,0,0
495,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,31,0,1,1,0,0
496,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,29,0,0,0,0,0
497,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,30,1,0,0,0,0
498,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,30,1,0,0,0,0
499,++5BmBHS2ebe4Whfg/7KhGkj/sQ6rtNHsktLxsI01KE=,32,0,1,2,0,0

In [42]:
c = transactions.columns.tolist()

In [43]:
c

['msno']

# Feature Engineering --> w= 0~2 + -1(test)

In [176]:
##################################################
# Load  
##################################################
col = ['msno','transaction_date','membership_expire_date']
transactions = utils.read_multiple_csv('../../input/preprocessed_data/transactions', col)
transactions = transactions.head(n = 500)

input_col = ['msno','t-1_transaction_date','t-1_membership_expire_date','order_number']
tran_time_diff = utils.read_multiple_csv('../../input/preprocessed_data/transactions_time_diff', input_col)
tran_time_diff = tran_time_diff.dropna() 
tran_time_diff = tran_time_diff.head(n = 500)

##################################################
# Convert string to datetime format
##################################################
transactions['membership_expire_date']  = transactions.membership_expire_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
transactions['transaction_date']  = transactions.transaction_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
tran_time_diff['t-1_membership_expire_date']  = tran_time_diff['t-1_membership_expire_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
tran_time_diff['t-1_transaction_date']  = tran_time_diff['t-1_transaction_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

100%|██████████| 4/4 [00:27<00:00,  6.84s/it]
100%|██████████| 4/4 [00:00<00:00, 279.78it/s]

In [191]:
T = 0
train = pd.read_csv('../../input/preprocessed_data/trainW-{0}.csv'.format(T))
df = pd.merge(train, transactions, on='msno', how='left') # 此時msno就是不重複
df = pd.merge(df, tran_time_diff, on='msno', how='left').drop_duplicates(['msno','order_number'])

df = df.dropna()

In [192]:
df[df.msno == '++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=']

,msno,is_churn,transaction_date,membership_expire_date,t-1_transaction_date,t-1_membership_expire_date,order_number
865883,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2015-09-09,2015-10-09,2.0
865884,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2015-10-09,2015-11-09,3.0
865885,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2015-11-09,2015-12-09,4.0
865886,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2015-12-09,2016-01-09,5.0
865887,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-01-09,2016-02-09,6.0
865888,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-02-09,2016-03-09,7.0
865889,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-03-09,2016-04-09,8.0
865890,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-04-09,2016-05-09,9.0
865891,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-05-09,2016-06-09,10.0
865892,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-06-09,2016-07-09,11.0
865893,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-07-09,2016-08-09,12.0
865894,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-08-09,2016-09-09,13.0
865895,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-09-09,2016-10-09,14.0
865896,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-10-09,2016-11-09,15.0
865897,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-11-09,2016-12-09,16.0
865898,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2016-12-09,2017-01-09,17.0
865899,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2017-01-09,2017-02-09,18.0
865900,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,0,2015-09-09,2015-10-09,2017-02-09,2017-03-09,19.0

In [195]:
def days_since_the_last_expiration(x):
    # x: each row of dataframe, series
    # return 負的代表消費者提早續約在上次交易到期之前,正的代表他在上次到期後才續約,0代表剛好那天續約
    x['days_since_the_last_expiration'] = [i.days for i in (x.transaction_date - x['t-1_membership_expire_date'])]
    return x
def days_since_the_last_subscription(x):
    x['days_since_the_last_subscription'] = [i.days for i in (x.transaction_date - x['t-1_transaction_date'])]
    return x
def is_subscribe_early(x):
    x['is_subscribe_early'] = [1 if i <0 else 0 for i in x.days_since_the_last_expiration]
    return x
df = df.groupby('msno').apply(days_since_the_last_expiration)
df = df.groupby('msno').apply(days_since_the_last_subscription)
df = df.groupby('msno').apply(is_subscribe_early)

In [198]:
output_col = ['msno','days_since_the_last_expiration','days_since_the_last_subscription','is_subscribe_early']
df[output_col]

,msno,days_since_the_last_expiration,days_since_the_last_subscription,is_subscribe_early
58581,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-29,0,1
58582,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-60,-29,1
58583,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-91,-60,1
58584,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-121,-91,1
58585,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-152,-121,1
58586,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-182,-152,1
58587,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-213,-182,1
58588,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-244,-213,1
58589,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,-272,-244,1
86460,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-31,0,1
86461,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-59,-31,1
86462,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-90,-59,1
86463,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-120,-90,1
86464,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-151,-120,1
86465,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-181,-151,1
86466,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-212,-181,1
86467,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-243,-212,1
86468,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-273,-243,1
86469,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-304,-273,1
86470,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-334,-304,1
86471,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-365,-334,1
86472,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-396,-365,1
86473,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-425,-396,1
86474,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-456,-425,1
86475,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-486,-456,1
86476,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-517,-486,1
86477,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-547,-517,1
86478,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-578,-547,1
86479,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-609,-578,1
86480,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,-639,-609,1
...,...,...,...,...
808406,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-31,0,1
808407,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-61,-31,1
808408,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-92,-61,1
808409,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-122,-92,1
808410,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-153,-122,1
808411,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-184,-153,1
808412,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-214,-184,1
808413,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-245,-214,1
808414,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-275,-245,1
808415,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-306,-275,1
808416,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-337,-306,1
808417,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,-365,-337,1
865883,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-30,0,1
865884,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-61,-30,1
865885,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-91,-61,1
865886,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-122,-91,1
865887,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-153,-122,1
865888,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-182,-153,1
865889,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-213,-182,1
865890,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-243,-213,1
865891,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-274,-243,1
865892,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-304,-274,1
865893,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-335,-304,1
865894,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-366,-335,1
865895,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-396,-366,1
865896,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-427,-396,1
865897,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-457,-427,1
865898,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-488,-457,1
865899,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-519,-488,1
865900,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,-547,-519,1

# w = 1

In [ ]:
transactions[(transactions.transaction_date < datetime.strptime('2017-02-01', '%Y-%m-%d'))] # w = 1:使用2月之前的資料當作history

# w = 0

In [ ]:
transactions[(transactions.transaction_date < datetime.strptime('2017-01-01', '%Y-%m-%d'))]

In [189]:
##################################################
# Load train set user and test set user
##################################################
train = pd.read_csv('../../input/preprocessed_data/trainW-0.csv') #沒有重複的user
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881896 entries, 0 to 881895
Data columns (total 2 columns):
msno        881896 non-null object
is_churn    881896 non-null int64
dtypes: int64(1), object(1)
memory usage: 13.5+ MB

In [190]:
train.head() # w其實不用

                                           msno  is_churn
0  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
1  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
2  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1
3  ibIHVYBqxGwrSExE63/omeDD99M5vYB3CN2HzkEY+eM=         1
4  kVmM8X4iBPCOfK/m1l3KR7LjFoxD1EcKYCc76F5IAWw=         1

In [ ]:
##################################################
# Load traiin 
##################################################
input_col = ['msno','payment_plan_days','transaction_date', 'membership_expire_date']

# w = 2

# toy_example

In [60]:
A = pd.DataFrame({'team':['cle','cle','bos'],'pts':[1,2,3]})
A

   pts team
0    1  cle
1    2  cle
2    3  bos

In [61]:
B = pd.DataFrame({'team':['cle','cle','bos'],'ast':[10,9,8]})
B

   ast team
0   10  cle
1    9  cle
2    8  bos

In [80]:
C = pd.merge(A,B, on = 'team', how = 'left').drop_duplicates(['pts','ast'])
C[C.team.duplicated()]

   pts team  ast
1    1  cle    9
2    2  cle   10
3    2  cle    9

In [75]:
C = pd.merge(A,B, on = 'team', how = 'left',left_index=True, right_index=True)
# 因為msno有相同的欄位,所以用left_index=True, right_index=True
C

   pts team  ast
0    1  cle   10
1    2  cle    9
2    3  bos    8

In [74]:
pd.concat([A,B], axis = 1)

   pts team  ast team
0    1  cle   10  cle
1    2  cle    9  cle
2    3  bos    8  bos

In [ ]:
1