In [86]:
#!/usr/bin/python3
# -*-coding:utf-8
'''
Created on Fri Dec 1 22:22:35 2017

@author: Ray


'''

import time
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import utils # written by author
from glob import glob
from datetime import datetime, timedelta
import multiprocessing as mp
import gc # for automatic releasing memory

In [126]:
##################################################
# Load  
##################################################
input_col = ['msno','transaction_date','early_expiration_days']
membership_loyalty = utils.read_multiple_csv('../../input/preprocessed_data/transactions_date_base') # 20,000,000

#membership_loyalty = membership_loyalty.head(n = 500)

#################################################
#Convert string to datetime format
#################################################
membership_loyalty['transaction_date']  = membership_loyalty.transaction_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(membership_loyalty)

  0%|          | 0/4 [00:00<?, ?it/s]
 25%|██▌       | 1/4 [00:05<00:17,  5.83s/it]
 50%|█████     | 2/4 [00:11<00:11,  5.73s/it]
 75%|███████▌  | 3/4 [00:16<00:05,  5.62s/it]
100%|██████████| 4/4 [00:22<00:00,  5.57s/it]

reduce memory

  0%|          | 0/8 [00:00<?, ?it/s]
100%|██████████| 8/8 [00:00<00:00, 1578.88it/s]

In [101]:
membership_loyalty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22964064 entries, 0 to 5741015
Data columns (total 8 columns):
msno                                            object
transaction_date                                datetime64[ns]
membership_duration                             int16
is_membership_duration_equal_to_plan_days       int8
is_membership_duration_longer_than_plan_days    int8
days_longer_than_plan_days                      int16
is_early_expiration                             int8
early_expiration_days                           int8
dtypes: datetime64[ns](1), int16(2), int8(4), object(1)
memory usage: 700.8+ MB

In [102]:
membership_loyalty[input_col].head()

,msno,transaction_date,early_expiration_days
0,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,2016-09-09,0
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2015-11-21,0
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2016-10-23,0
3,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2016-11-16,0
4,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2016-12-15,0

In [129]:
membership_loyalty['early_expiration_days'] = membership_loyalty.early_expiration_days.apply(lambda x : x* -1 if x < 0 else x)

In [130]:
tbl = membership_loyalty.early_expiration_days.value_counts().reset_index()
tbl.columns = ['early_expiration_days', 'early_expiration_days_cnt']

In [131]:
tbl

     early_expiration_days  early_expiration_days_cnt
0                        0                   22810285
1                        1                      99841
2                        2                      42888
3                        3                       1038
4                       31                        597
5                       30                        554
6                        6                        354
7                        4                        349
8                       61                        322
9                       32                        319
10                       5                        300
11                      60                        289
12                      29                        268
13                       7                        250
14                      33                        230
15                      62                        170
16                      34                        137
17                       8                        129
18                      64                        129
19                      63                        124
20                      59                        109
21                      11                         97
22                      14                         92
23                      68                         87
24                      12                         84
25                      65                         84
26                     125                         72
27                      15                         71
28                      27                         70
29                      10                         67
..                     ...                        ...
99                     113                         40
100                     35                         39
101                    105                         39
102                     44                         38
103                     95                         38
104                    109                         37
105                     83                         36
106                     39                         36
107                     46                         36
108                     70                         36
109                     80                         36
110                     81                         36
111                     45                         35
112                     88                         35
113                     16                         35
114                     73                         35
115                     85                         35
116                    115                         34
117                     91                         34
118                     71                         34
119                     84                         34
120                     79                         33
121                     37                         33
122                     17                         33
123                    128                         33
124                     82                         32
125                     87                         32
126                     18                         31
127                     78                         30
128                     89                         23

[129 rows x 2 columns]

# core

In [111]:
T = 0
folder = 'trainW-'+str(T)
train = pd.read_csv('../../input/preprocessed_data/trainW-{0}.csv'.format(T))[['msno']]

In [112]:
df = pd.merge(train, 
membership_loyalty[(membership_loyalty.transaction_date < datetime.strptime('2017-03-01', '%Y-%m-%d'))], 
on=['msno'], 
how='left')

In [114]:
df.shape

(14748281, 8)

In [117]:
#core
tbl = df.head(n = 1000).groupby('msno').early_expiration_days.mean().to_frame()
tbl.columns = ['early_expiration_days-mean']
tbl['early_expiration_days-min'] = df.groupby('msno').early_expiration_days.min()
tbl['early_expiration_days-max'] = df.groupby('msno').early_expiration_days.max()
tbl['early_expiration_days-median'] = df.groupby('msno').early_expiration_days.median()
tbl['early_expiration_days-std'] = df.groupby('msno').early_expiration_days.std()

In [118]:
tbl.reset_index(inplace = True)
tbl

,msno,early_expiration_days-mean,early_expiration_days-min,early_expiration_days-max,early_expiration_days-median,early_expiration_days-std
0,+3KltBa/1dUuXwOzDKksw11Nwdwf7/pXv47sDv4mInY=,0.000000,0,0,0.0,0.000000
1,+wisdxP166qHezQOKLPv4l4AfZClRF3ExWGD2rzYYCU=,0.000000,0,0,0.0,0.000000
2,/66xO0tgKHeHrtaULlc3sOtEysp2v2y+kjcaqXScvyo=,0.000000,0,0,0.0,0.000000
3,/L2095JD4M/BNLTCboucgyuT2i8JIiJ87bOIsxtFvBw=,0.000000,0,0,0.0,0.000000
4,07BqZinAC48xGnZjsnufxMnduRW0M3Tcs7hTK62ygTs=,0.000000,0,0,0.0,0.000000
5,1AzXWFlRO6EfMBzfBdk98sBVnjzY7U1G24mVFNdzGNQ=,0.000000,0,0,0.0,0.000000
6,2OaV7/7vyAA2FrCkV4qXZEZYg5IzVyFNkQnQorgQ440=,2.694444,0,97,0.0,16.166667
7,3s5Bn4gcF5NrGMmG62c9hLVitansQ4JtLpz58c7g8JU=,0.000000,0,0,0.0,0.000000
8,6OlZbbgM+0PjnShnk82ORhLuBaqn6m0bv+I/x9bpmHs=,0.000000,0,0,0.0,0.000000
9,8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=,7.655172,0,111,0.0,28.624759
10,94zcjPEiJ4EuUcGeWt0AwYh1A+5WZh9OqekbG0raRWY=,0.000000,0,0,0.0,0.000000
11,9JzSBttiM01GFi7KjlL9pQz8vQyyvga1o5SbPMMFQXU=,0.000000,0,0,0.0,0.000000
12,AFpVIx7pMZk+1zEwjCUk4h+sDt7Yw3hxBduL1Gos61M=,0.000000,0,0,0.0,0.000000
13,Dn+APxD82JfgrAVfvfxAJfDZ53iKHGyP1I9FofL/7uM=,0.000000,0,0,0.0,0.000000
14,HpcX2PjJUAwLxsjs2XpRAme3RY/c2sxukljHLADaqXg=,0.000000,0,0,0.0,0.000000
15,JOe9SbNNAGFUJ20nT5v2H0scmeVZrBGtWHbSCTqxSZk=,0.071429,0,2,0.0,0.377964
16,K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=,0.000000,0,0,0.0,0.000000
17,L9W/dW7SdNQD2ve5egWKsXdBNKL0+3lFyG4FDXZMvpM=,0.000000,0,0,0.0,0.000000
18,NTOh3fAZrLoIyE1lxoRpp2lzEraNnnWbUvOhrmO1bUM=,0.611111,0,22,0.0,3.666667
19,P9FjH43/pjIS6PwcXP8VcA+P4RTq/mH+F3DLuXDpFkE=,0.000000,0,0,0.0,0.000000
20,Q9usvyRqcdaOr3RwXeT+RYffQEvcFeUa6kmXUb9QvDQ=,0.000000,0,0,0.0,0.000000
21,TotbNxPUifAoL9diWEMXcRnBgKDStI/a/SdXcf5WhfQ=,0.000000,0,0,0.0,0.000000
22,VIAw9HT2sdbdK+26/I5vtEOSjJgY4FV9rYjihXZ+iqY=,0.000000,0,0,0.0,0.000000
23,WkF/FvlzpBLFoa+Hm3hagOfme2pHLE2y+RJ3eGcLT0k=,0.000000,0,0,0.0,0.000000
24,WpYNkiRMP3vgJRyq4TQzn7y8O0I7RWtXLXUorHClllg=,0.000000,0,0,0.0,0.000000
25,Ybp7mbACy/qnytzEr8rZykiEyL23ESsAIZRo17VAT/8=,0.000000,0,0,0.0,0.000000
26,Z9Y6f2hXZpPIvbLgHHgUncs7Tb+qmKgGNSwwVAiMlm0=,0.000000,0,0,0.0,0.000000
27,a7AtvhlY8KnKZGpiVe+4HhFerqTEgmno3x7Rc7YGwzw=,0.000000,0,0,0.0,0.000000
28,alu7Qp5e+1KSZlKKb4SUWQPFtvxO8OA3HbwLF9wHPSY=,0.000000,0,0,0.0,0.000000
29,bCMGwW99lf9xWK3tigLS8MvlxBl/1R6C8qmo5wefHuY=,0.000000,0,0,0.0,0.000000
30,dHKBDAvI+6a5zazRxM/NCyh4gxpJO3b1wgtuDNFmx+s=,0.000000,0,0,0.0,0.000000
31,dW/tPZMDh2Oz/ksduEctJbsz0MXw3kay/1AlZCq3EbI=,0.000000,0,0,0.0,0.000000
32,dfLS2/Pom6O3iUpo+mf/K1Bc6g+7LFKzoNf+zlJtDoQ=,0.033333,0,1,0.0,0.182574
33,ePx+sYifOKWLbG1fC8Gy2rjlg92Z7+Blxj94zzyC2+g=,0.074074,0,2,0.0,0.384900
34,f91n3lDipDjRtAVNgMGnTsxP0VrzDsfB0Hdth12gqQE=,2.941176,0,100,0.0,17.149859
35,g5H4gUXqJD4mAVThlifJjRtCqWKdOhTjfY4MhG4FExw=,0.000000,0,0,0.0,0.000000
36,hrJ0NoC+BjSGu8bFqtvTNvSoA8uRdm93CYJg7LYS5KE=,0.000000,0,0,0.0,0.000000
37,i4g6DQpmkTuRCS6/osUsQ8GSBJM8261is4Q04NDGRPk=,0.000000,0,0,0.0,0.000000
38,ibIHVYBqxGwrSExE63/omeDD99M5vYB3CN2HzkEY+eM=,0.100000,0,2,0.0,0.447214
39,kVmM8X4iBPCOfK/m1l3KR7LjFoxD1EcKYCc76F5IAWw=,0.000000,0,0,0.0,0.000000
40,kcDjmWgpg+xZtfVY4xL8M6CjEGSVB1wyUR8/0vaF1bQ=,0.000000,0,0,0.0,0.000000
41,l5vEgOQY4r+uN/egcoE6HsEqM380gdCbHVB1c6lbcco=,0.000000,0,0,0.0,0.000000
42,ogP6gr6Fr9GAkLEXgMYtypFcTOHudzJrCD/VDnhR6w8=,0.000000,0,0,0.0,0.000000
43,otEcMhAX3mU4gumUSogqgteN3oaNmhdmTkoof2iRYEE=,0.000000,0,0,0.0,0.000000
44,ov5r9WWKK3+ayDpQDPCYKlTBGqLfHQP49XxugJFL7VM=,0.000000,0,0,0.0,0.000000
45,pBXnYkKeo1HldqKCHfKN61EEwwEdZa4fD6c2AfK4a2k=,0.000000,0,0,0.0,0.000000
46,qZNye+Wypwm3vTZjnPOa5CD5FqTvTxxBaY8J9SakD+w=,0.000000,0,0,0.0,0.000000
47,qpV8BYuYz/Z7LFqEuo2QEMfwWWxdCIQQT4X/XsPXwhc=,0.000000,0,0,0.0,0.000000
48,rDVp6uAfDKF2k8KnUgnT5Bi+a8fY9mkG4WaZTekLYkQ=,0.000000,0,0,0.0,0.000000
49,rkaObNY/ek5hQgF2iN4L3/hL8VeddrbbYCxIRUlOMXE=,0.000000,0,0,0.0,0.000000
50,uLqyhOWstrpGg912FutUVf8s+S+SNzAXS9mnsju3kuY=,0.000000,0,0,0.0,0.000000
51,w2O0vchmncaBEQLoC5Pn7qRoSPiJ6X2x5O+woVFDhnY=,0.074074,0,2,0.0,0.384900
52,wLtPucL8EyK8yUp+F9J1S8Ad/D9CRA8kSB0maalwzjE=,0.000000,0,0,0.0,0.000000
53,yaaTlGsOcs824LLK3uA54Q7GdKgwYCuTS0fR8ZBgImc=,0.000000,0,0,0.0,0.000000
54,z/7ngw+t+95wOC/87OociYkLYS/Yxmw+hhvAjKCLkDU=,0.000000,0,0,0.0,0.000000
55,zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=,0.000000,0,0,0.0,0.000000

# early_expiration_days is negative

In [17]:
membership_loyalty[membership_loyalty.early_expiration_days == -14]

,msno,membership_duration,is_membership_duration_equal_to_plan_days,is_membership_duration_longer_than_plan_days,days_longer_than_plan_days,is_early_expiration,early_expiration_days
652506,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,-242,0,0,0,1,-14
805305,0CAvDGWLGOlENFiOkSCZd2fzlAk5ptOFXd+ddfNwRqA=,-242,0,0,0,1,-14
943941,0bAK8hFztHoYGFNDktYu66rw4KWeOnvcnlLxsuXSXSw=,-242,0,0,0,1,-14
1842736,35XirzhOUaERiHV8xIDCEzQWMCZCIVWosM+w3IoT+N8=,-498,0,0,0,1,-14
4374077,A8dNrVvbFsST+ZIjumOPQhTtOdxGwoZrvY0C6j5O3Vw=,-498,0,0,0,1,-14
805475,GDjrSQADdF+R6wi5ziWKjuQ4kWy6YTH5nPTbi2yfyWU=,-498,0,0,0,1,-14
972569,GhURQZx4JXoVxPFYiIzkyaEjMbNZb+cyNp8Sjse6pGA=,-498,0,0,0,1,-14
2881017,M/0soEWDMQrfeKLFc6ItRFOVsnhH2K11pX3nZBAY950=,-242,0,0,0,1,-14
4665551,R+HwHTH1SUSb47spQEm6f7RQaN4d7MwCxaS4XAbCo8U=,-498,0,0,0,1,-14
5722892,TwXSMWlDEM+C5+vXkfmGqlktAOv8mJDy/sfsbTC8/WE=,-498,0,0,0,1,-14
1730480,Yp4xY75QG22XBmsK1RgKsMIwqB1SNGtAHdKYJ0GB6zI=,-242,0,0,0,1,-14
4306572,g+mHsfvRN3rPMpk7Snswj89iJpQH0L0vcLvp3mWcyUc=,-242,0,0,0,1,-14
671067,lqiQkQAfXerI2qDQzdan12rrcIKK/VqZN/mS5mi05CM=,-242,0,0,0,1,-14
1254467,nSokBVwt31wZReNKL3dN78CR7CnBBhfw+ovw6Yx9GyI=,-242,0,0,0,1,-14
1629923,oW8BYLnyqB/i63AcaFOyiJmNrqLDQt51m+IdLwMnqCU=,-498,0,0,0,1,-14
4337510,w2BeWKz9f/fUheU+Tm57sNEQ/4+4Hv2eDvjZfv/ucno=,-498,0,0,0,1,-14

In [42]:
##################################################
# Load transaction 
##################################################
input_col = ['msno','payment_plan_days','transaction_date', 'membership_expire_date',]
transactions = utils.read_multiple_csv('../../input/preprocessed_data/transactions',input_col)

100%|██████████| 4/4 [00:27<00:00,  6.98s/it]

In [65]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22964064 entries, 0 to 5741015
Data columns (total 4 columns):
msno                      object
transaction_date          object
payment_plan_days         int16
membership_expire_date    object
dtypes: int16(1), object(3)
memory usage: 744.6+ MB

In [66]:
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(transactions)
transactions = transactions[transactions.msno == '/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=']
##################################################
# Convert string to datetime format
##################################################
transactions['membership_expire_date']  = transactions.membership_expire_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
transactions['transaction_date']  = transactions.transaction_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

reduce memory

100%|██████████| 4/4 [00:00<00:00, 3783.77it/s]
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [67]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 652489 to 652522
Data columns (total 4 columns):
msno                      34 non-null object
transaction_date          34 non-null datetime64[ns]
payment_plan_days         34 non-null int16
membership_expire_date    34 non-null datetime64[ns]
dtypes: datetime64[ns](2), int16(1), object(1)
memory usage: 1.1+ KB

In [68]:
# 幹為什麼會有負的i.days

In [69]:
transactions['early_expiration_days'] = [-i.days if i.days < 0 else 0 for i in (transactions.membership_expire_date - transactions.transaction_date)]
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 652489 to 652522
Data columns (total 5 columns):
msno                      34 non-null object
transaction_date          34 non-null datetime64[ns]
payment_plan_days         34 non-null int16
membership_expire_date    34 non-null datetime64[ns]
early_expiration_days     34 non-null int64
dtypes: datetime64[ns](2), int16(1), int64(1), object(1)
memory usage: 2.6+ KB

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [81]:
# 幹不存在負的
output_col = ['msno','transaction_date','early_expiration_days']
transactions = transactions[output_col]
transactions

,msno,transaction_date,early_expiration_days
652489,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-01-31,0
652490,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-02-28,0
652491,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-03-31,0
652492,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-04-26,0
652493,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-04-30,0
652494,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-05-25,0
652495,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-05-31,0
652496,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-06-25,0
652497,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-06-30,0
652498,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-07-25,0
652499,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-07-31,0
652500,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-08-25,0
652501,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-08-31,0
652502,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-09-25,0
652503,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-10-25,0
652504,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-11-25,0
652505,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-11-30,0
652506,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-12-24,242
652507,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-12-25,0
652508,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-01-25,0
652509,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-02-25,0
652510,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-03-25,0
652511,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-04-25,0
652512,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-05-25,0
652513,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-06-25,0
652514,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-07-25,0
652515,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-08-25,0
652516,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-09-25,0
652517,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-10-25,0
652518,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-11-25,0
652519,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-12-25,0
652520,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2017-01-25,0
652521,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2017-02-25,0
652522,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2017-03-25,0

In [78]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 652489 to 652522
Data columns (total 3 columns):
msno                     34 non-null object
transaction_date         34 non-null datetime64[ns]
early_expiration_days    34 non-null int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 2.3+ KB

In [61]:
transactions.head()

,msno,transaction_date,payment_plan_days,membership_expire_date
0,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,2016-09-09,7,2016-09-14
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2015-11-21,410,2017-01-04
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,2016-10-23,395,2018-02-06
3,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2016-11-16,30,2016-12-15
4,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2016-12-15,30,2017-01-15

# why membership_loyalty 會差一個負號

In [119]:
membership_loyalty = utils.read_multiple_csv('../../input/preprocessed_data/transactions_date_base') # 20,000,000

100%|██████████| 4/4 [00:23<00:00,  5.80s/it]

In [83]:
membership_loyalty.info()
membership_loyalty['early_expiration_days'] = membership_loyalty.early_expiration_days.apply(lambda x : x* -1 if x < 0 else x)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22964064 entries, 0 to 5741015
Data columns (total 8 columns):
msno                                            object
transaction_date                                object
membership_duration                             int64
is_membership_duration_equal_to_plan_days       int64
is_membership_duration_longer_than_plan_days    int64
days_longer_than_plan_days                      int64
is_early_expiration                             int64
early_expiration_days                           int64
dtypes: int64(6), object(2)
memory usage: 1.5+ GB

In [121]:
output_col = ['msno','transaction_date','early_expiration_days']
membership_loyalty[membership_loyalty.msno == '/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk='][output_col]

,msno,transaction_date,early_expiration_days
652489,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-01-31,0
652490,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-02-28,0
652491,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-03-31,0
652492,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-04-26,0
652493,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-04-30,0
652494,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-05-25,0
652495,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-05-31,0
652496,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-06-25,0
652497,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-06-30,0
652498,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-07-25,0
652499,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-07-31,0
652500,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-08-25,0
652501,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-08-31,0
652502,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-09-25,0
652503,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-10-25,0
652504,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-11-25,0
652505,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-11-30,0
652506,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-12-24,-14
652507,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2015-12-25,0
652508,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-01-25,0
652509,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-02-25,0
652510,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-03-25,0
652511,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-04-25,0
652512,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-05-25,0
652513,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-06-25,0
652514,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-07-25,0
652515,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-08-25,0
652516,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-09-25,0
652517,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-10-25,0
652518,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-11-25,0
652519,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2016-12-25,0
652520,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2017-01-25,0
652521,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2017-02-25,0
652522,/nPDKKeCsp3ifkeonrSdvdJrtSadkJRnwVTrV8RV/rk=,2017-03-25,0

In [85]:
membership_loyalty[membership_loyalty.early_expiration_days < 0]

Empty DataFrame
Columns: [msno, transaction_date, membership_duration, is_membership_duration_equal_to_plan_days, is_membership_duration_longer_than_plan_days, days_longer_than_plan_days, is_early_expiration, early_expiration_days]
Index: []