In [1]:
#!/usr/bin/python3
# -*-coding:utf-8
'''
Created on Fri Dec 1 22:22:35 2017

@author: Ray

'''
import time
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import utils # written by author
from glob import glob
from datetime import datetime, timedelta
import multiprocessing as mp
import gc # for automatic releasing memory

In [2]:
##################################################
# Load  
##################################################
col = ['msno','plan_list_price','payment_plan_days','actual_amount_paid','payment_method_id','transaction_date',]
transactions = utils.read_multiple_csv('../../input/preprocessed_data/transactions') # 20,000,000

100%|██████████| 4/4 [00:28<00:00,  7.05s/it]

In [3]:
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(transactions)

reduce memory

100%|██████████| 9/9 [00:00<00:00, 2568.64it/s]

In [57]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22964064 entries, 0 to 5741015
Data columns (total 9 columns):
msno                      object
payment_method_id         int8
payment_plan_days         int16
plan_list_price           int16
actual_amount_paid        int16
is_auto_renew             int8
transaction_date          object
membership_expire_date    object
is_cancel                 int8
dtypes: int16(3), int8(3), object(3)
memory usage: 897.9+ MB

In [4]:
"is_cancel_chance"
"is_cancel_ratio"

'is_cancel_ratio'

In [9]:
transactions[transactions.is_cancel == 1]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
76,++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=,40,30,149,149,1,2015-07-21,2015-08-16,1
86,++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=,11,30,149,149,1,2015-08-26,2015-09-25,1
135,++/gTmVgKUbNFmsTiriZdWV1uZIrLXCUiEWN0fEU6BM=,41,30,149,149,1,2016-02-15,2016-02-15,1
181,++0KpReZV9DjNUlP6aQhK3MDLWaxbA6fvZKh4UaFc3w=,41,30,149,0,1,2015-08-24,2015-09-23,1
188,++0nOC7BmrUTtcSboRORfg6ZXTajnBDt1f/SEgH6ONo=,16,30,149,149,1,2015-12-12,2015-12-12,1
239,++1SsMUpPBTruO9rzPk9p/OpgMorz3TzRd1howM1fqw=,41,30,149,0,1,2015-10-18,2015-10-20,1
241,++1TnybRWMiv1YN2UW5hyicLSm3AhDaU/89lFkZC//8=,41,30,149,0,1,2015-12-13,2015-12-13,1
281,++2axpngZEynlxNr1+AkwgHHfaEZ/EeOj6Q284RiAkw=,41,30,149,149,1,2016-02-25,2016-02-25,1
285,++2jS71kxhJr7dAl9q0vd6SgNfUY8HfASsF6ItNTYCo=,41,30,149,149,1,2015-02-17,2015-02-16,1
287,++2m3qvMRunJP9QTvQC5ex57i0qYG2HoTj6ZC8it+R0=,41,30,149,0,1,2016-01-10,2016-01-10,1
289,++2wdWRV3Thy9HZyRJtKxlNsa55oDiDc7arR1guiypc=,41,30,149,0,1,2015-10-08,2015-10-15,1
341,++3FNwZTm6haRgXV0ZRonrNvMxKD9F64lQhIQmQ9wIE=,41,30,149,149,1,2015-09-10,2015-09-10,1
344,++3UnufK0Ka+brv8dKFZUpOV41Jk2uRLYSWIkT6Ff6c=,41,30,149,149,1,2015-03-02,2015-03-01,1
350,++3Z+W8OPnpbHYfrKwqRKN1bF83XEbxjdYUolhGdHZg=,41,0,0,149,1,2015-05-04,2015-06-04,1
392,++3hfQtTKeHLVuBHIuN6MkqMAk1UKUGPKMUFsFilHEw=,41,30,149,149,1,2016-02-15,2016-02-15,1
394,++3uPxqGjnkAZb0EW56rqI+mAkhcAno+ZiUy8yIZ7gU=,41,30,149,0,1,2015-12-26,2015-12-26,1
414,++3xffNiy5qT5MaPKlbo1VsPUNLcor+fRhTrtm1Rw/o=,41,30,149,0,1,2015-09-28,2015-09-28,1
462,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,41,30,149,149,1,2016-03-02,2016-03-02,1
470,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,33,30,149,149,1,2016-10-28,2016-10-27,1
514,++5IYGT7+CWMJ8hRsqoQLoaTXBLMJzlfK12eMTr9Ilw=,41,30,149,149,1,2015-01-25,2015-01-24,1
516,++5QfOMlU+HJsIA3DIVK7JLjIZj4z2hKiEyhfEWbeb8=,41,30,149,0,1,2015-10-23,2015-10-27,1
567,++5nB0VuUuyj9xlngqv3OKUrmQXWZkO5QtB9FYXWTok=,41,30,129,129,1,2015-12-10,2016-03-04,1
579,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,39,0,0,149,1,2015-05-12,2015-06-14,1
644,++6l1lopc2n1Mtti7xBYzA+2+xiIY09KVNk8kSKUy74=,41,30,149,0,1,2016-02-09,2016-02-09,1
697,++7bkVqNKquDGydOjxc1Tn2aX2XEEPcKOYWF7BF0U+E=,37,31,149,149,1,2015-03-05,2015-03-05,1
723,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,40,30,149,149,1,2016-12-21,2017-01-16,1
725,++7omC7mYiPVw8JU7xIZjNKmeSzDMW9Htaz+LEn7PB8=,41,30,149,0,1,2016-03-12,2016-03-12,1
760,++8dXbkKMJ0rXwUc/m19lTVokEl3c9EfRKWmV6qP9jg=,41,30,149,149,1,2016-08-05,2016-08-05,1
761,++8dXbkKMJ0rXwUc/m19lTVokEl3c9EfRKWmV6qP9jg=,41,30,99,99,1,2016-08-05,2016-08-05,1
776,++8q+lB3TM+BUousCkspFgXvR0y2MQnxqCJqd60OcjA=,41,30,149,149,1,2015-10-13,2015-10-13,1
...,...,...,...,...,...,...,...,...,...
5740444,zzu8KPnFfgprYDSuGiG4rwlgcQHNI5fpQ71ejKGXO84=,41,30,149,0,1,2015-09-09,2015-09-11,1
5740446,zzuG4eA/KQwdrsqgyDTXgRPpyeqQaNsw6wm2W+wkIlQ=,41,30,149,0,1,2015-09-18,2015-09-19,1
5740460,zzuGxQfF86Zsx5nqF1Yh+oJpEIfdjFKKYpTqFZMdxzk=,40,30,149,149,1,2016-02-09,2016-02-08,1
5740495,zzun0wDbQC7udhk6lQOghCHDQjUtcUStZ35MMZY9gqE=,41,30,149,0,1,2015-07-29,2015-08-21,1
5740509,zzus5r2IHh3PTZwciUBTXw2CUkZYZvJH6K/sCBVYEUc=,41,30,99,99,1,2016-09-14,2016-09-14,1
5740531,zzuwx8r7LEkcZiz3L8nyUXzJUisy/behyc99pmRH9Mo=,41,30,99,99,1,2016-11-28,2016-11-28,1
5740558,zzv2n8+r3LGI4gFp6c4hpseYdfHrl829IY3IlA0BF4Q=,41,30,149,149,1,2015-03-22,2015-03-22,1
5740647,zzw9mVVn3tVNQJQBOv0T0W+Ls1ar8Q2BZsov9Pbif4k=,41,30,149,0,1,2016-01-20,2016-01-20,1
5740649,zzwDTHyvCNRwKlNEhVwS+Tt+cqaxRdoeJj5hulkG2/8=,41,30,149,0,1,2016-05-16,2016-05-16,1
5740661,zzwTqPrBIkd/Kh8dFXjXdiDcdICSZb3faktzOMFSHpc=,40,30,149,149,1,2015-10-13,2015-11-10,1
5740664,zzwXO65mgIb4dYvGQ6wCbXn8E1BXv1qvDgafFwN1jko=,41,30,149,0,1,2015-08-19,2015-08-31,1
5740688,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,41,30,149,0,1,2015-10-09,2015-11-05,1
5740723,zzx4MmvaZjgHvBcOfqPX4PZPpo1FBuOrCbJMn+g9g7E=,40,30,149,149,1,2015-07-15,2015-07-13,1
5740749,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,41,30,149,149,1,2016-12-19,2016-12-19,1
5740765,zzx7wcys2Nha6yP2Skjs+R1/JNAfEuAWUaAp0qsV2Cg=,41,30,129,129,1,2015-11-06,2016-02-04,1
5740778,zzx7wcys2Nha6yP2Skjs+R1/JNAfEuAWUaAp0qsV2Cg=,41,30,99,99,1,2016-11-11,2017-02-09,1
5740803,zzxQsz+IFQArKdmrVoolrDr1UI2d2NuI5vCP2puPQdk=,41,30,149,0,1,2015-10-14,2015-10-16,1
5740816,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,30,149,149,1,2016-01-27,2016-01-27,1
5740832,zzxa/wrL2Ak1YxYqv218iF0XehDkxTzWkdaeXjx3jw0=,34,30,149,149,1,2015-06-26,2015-06-26,1
5740834,zzxgQdCEh6RvCKlnIEyvxn315Q2L01DXNmoTaCqg96Q=,41,30,149,0,1,2015-01-06,2015-01-05,1
5740859,zzxp2iylK+x/+BUSMoAbrrmgUngDjMonM/+HSm1XgOo=,41,30,149,149,1,2016-08-21,2016-08-22,1
5740885,zzy4aXyTi7LkfQ77Z6PzRlJsrSOKxM21y4BSujGeo8k=,41,30,99,99,1,2016-05-04,2016-05-04,1
5740893,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,41,30,149,149,1,2015-05-15,2015-05-14,1
5740914,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,41,30,149,149,1,2017-01-07,2017-01-08,1
5740932,zzyuTnRVQQGxs0UN8qzU2Pedh3z8F7UeoiQpNhJRomM=,41,30,149,149,1,2016-11-21,2016-11-22,1
5740940,zzz/5bh+8EOZTpIRKWiiaAwEH4uYwfDUaiahJlvABiQ=,27,30,149,149,1,2016-09-14,2016-09-13,1
5740946,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,30,149,149,1,2015-06-24,2015-07-12,1
5740984,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,2017-01-22,2017-01-23,1
5740999,zzz9+ZF4+GMyt63oU8xfjo1EkvRqH5OINlES0RUJI6I=,41,30,149,149,1,2016-11-03,2016-11-03,1
5741013,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,2017-02-02,2017-02-02,1

In [70]:
df = transactions[transactions.msno == '++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=']

In [71]:
pd.crosstab(df.transaction_date,df.is_cancel)

is_cancel         0  1
transaction_date
2015-01-08        1  0
2015-02-08        1  0
2015-03-08        1  0
2015-04-08        1  0
2015-05-08        1  0
2015-06-08        1  0
2015-07-08        1  0
2015-08-08        1  0
2015-09-08        1  0
2015-10-08        1  0
2015-11-08        1  0
2015-12-08        1  0
2016-01-08        1  0
2016-02-08        1  0
2016-03-02        0  1
2016-04-26        1  0
2016-04-30        1  0
2016-05-31        1  0
2016-06-30        1  0
2016-07-31        1  0
2016-08-31        1  0
2016-09-30        1  0
2016-10-28        1  1
2016-11-26        1  0
2016-12-26        1  0
2017-01-26        1  0
2017-02-26        1  0
2017-03-26        1  0

In [72]:
cnt

                                           msno  is_auto_renew  cnt
0  ++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=              0    1
1  ++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=              1   28

In [95]:
df = transactions[transactions.msno == '++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=']
def make_order_number(x):
    x['order_number'] = [i+1 for i in range(x.shape[0])]
    return x
df = df.groupby('msno').apply(make_order_number)
input_col = ['msno','transaction_date','is_cancel','is_auto_renew','order_number']

df[input_col]

,msno,transaction_date,is_cancel,is_auto_renew,order_number
448,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-01-08,0,1,1
449,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-02-08,0,1,2
450,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-03-08,0,1,3
451,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-04-08,0,1,4
452,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-05-08,0,1,5
453,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-06-08,0,1,6
454,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-07-08,0,1,7
455,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-08-08,0,1,8
456,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-09-08,0,1,9
457,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-10-08,0,1,10
458,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-11-08,0,1,11
459,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2015-12-08,0,1,12
460,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-01-08,0,1,13
461,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-02-08,0,1,14
462,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-03-02,1,1,15
463,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-04-26,0,1,16
464,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-04-30,0,1,17
465,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-05-31,0,1,18
466,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-06-30,0,1,19
467,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-07-31,0,1,20
468,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-08-31,0,1,21
469,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-09-30,0,1,22
470,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-10-28,1,1,23
471,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-10-28,0,0,24
472,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-11-26,0,1,25
473,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2016-12-26,0,1,26
474,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2017-01-26,0,1,27
475,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2017-02-26,0,1,28
476,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2017-03-26,0,1,29

In [96]:
df = df[input_col]

In [176]:
df[df.msno == '++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=']

,msno,transaction_date,is_cancel,is_auto_renew,order_number
747190,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-01-31,0.0,1.0,1
747191,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-02-28,0.0,1.0,2
747192,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-03-31,0.0,1.0,3
747193,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-04-30,0.0,1.0,4
747194,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-05-12,1.0,1.0,5
747195,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-06-22,0.0,1.0,6
747196,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-06-30,0.0,1.0,7
747197,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-07-31,0.0,1.0,8
747198,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-08-31,0.0,1.0,9
747199,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-09-30,0.0,1.0,10
747200,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-11-02,0.0,1.0,11
747201,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-12-02,0.0,1.0,12
747202,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-01-31,0.0,1.0,13
747203,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-07-31,0.0,1.0,14
747204,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-08-31,0.0,1.0,15
747205,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-09-30,0.0,1.0,16
747206,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-10-31,0.0,1.0,17
747207,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-11-30,0.0,1.0,18
747208,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-12-31,0.0,1.0,19
747209,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2017-01-31,0.0,1.0,20
747210,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2017-02-28,0.0,1.0,21

# is_cancel

In [190]:
cnt = df.groupby(['msno', 'is_cancel']).size()
cnt.name = 'cnt'
cnt = cnt.reset_index()
cnt
# chance
user_onb_max = df.groupby('msno').order_number.max().reset_index()
user_onb_max.columns = ['msno', 'onb_max']
user_onb_max
user_is_cancel_min = df.groupby(['msno', 'is_cancel']).order_number.min().reset_index()
user_is_cancel_min.columns = ['msno', 'is_cancel', 'onb_min']

chance = pd.merge(user_is_cancel_min, user_onb_max, on='msno', how='left')
chance['is_cancel_chance'] = chance.onb_max - chance.onb_min +1

tbl = pd.merge(cnt, chance, on= ['msno', 'is_cancel'], how='left')
tbl['is_cancel_ratio_by_chance'] = tbl.cnt / tbl.is_cancel_chance
col = ['msno', 'is_cancel_chance', 'is_cancel_ratio_by_chance']
#tbl = tbl[col]
#tbl = tbl.rename(columns = {'chance':'order_number'})[col]

In [191]:
tbl[tbl.msno == '++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=']

,msno,is_cancel,cnt,onb_min,onb_max,is_cancel_chance,is_cancel_ratio_by_chance
26,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,0.0,20,1,21,21,0.952381
27,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,1.0,1,5,21,17,0.058824

In [193]:
df[df.msno == '++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=']

,msno,transaction_date,is_cancel,is_auto_renew,order_number
747190,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-01-31,0.0,1.0,1
747191,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-02-28,0.0,1.0,2
747192,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-03-31,0.0,1.0,3
747193,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-04-30,0.0,1.0,4
747194,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-05-12,1.0,1.0,5
747195,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-06-22,0.0,1.0,6
747196,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-06-30,0.0,1.0,7
747197,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-07-31,0.0,1.0,8
747198,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-08-31,0.0,1.0,9
747199,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-09-30,0.0,1.0,10
747200,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-11-02,0.0,1.0,11
747201,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2015-12-02,0.0,1.0,12
747202,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-01-31,0.0,1.0,13
747203,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-07-31,0.0,1.0,14
747204,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-08-31,0.0,1.0,15
747205,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-09-30,0.0,1.0,16
747206,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-10-31,0.0,1.0,17
747207,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-11-30,0.0,1.0,18
747208,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2016-12-31,0.0,1.0,19
747209,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2017-01-31,0.0,1.0,20
747210,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2017-02-28,0.0,1.0,21

In [120]:
tbl = pd.merge(df,tbl, on = ['msno','is_cancel'])
tbl.tail(n= 1)

,msno,transaction_date,is_cancel,is_auto_renew,order_number,is_cancel_ratio_bychance
1,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2017-03-26,0,1,29,0.931034

# is_auto_renewal

In [79]:
df = df.groupby('msno').apply(make_order_number)
df

,msno,is_cancel,cnt,onb_min,onb_max,chance,is_cancel_ratio_bychance,order_number
0,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,0,27,1,29,29,0.931034,1
1,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,1,2,15,29,15,0.133333,2

In [78]:
cnt = df.groupby(['msno', 'is_auto_renew']).size()
cnt.name = 'cnt'
cnt = cnt.reset_index()

# chance
user_onb_max = df.groupby('msno').order_number.max().reset_index()
user_onb_max.columns = ['msno', 'onb_max']
user_onb_max
user_is_cancel_min = df.groupby(['msno', 'is_auto_renew']).order_number.min().reset_index()
user_is_cancel_min.columns = ['msno', 'is_auto_renew', 'onb_min']

chance = pd.merge(user_is_cancel_min, user_onb_max, on='msno', how='left')
chance['chance'] = chance.onb_max - chance.onb_min +1

tbl = pd.merge(cnt, chance, on=['msno', 'is_auto_renew'], how='left')
tbl['is_auto_renew_ratio_bychance'] = tbl.cnt / tbl.chance
tbl

AttributeError: 'DataFrameGroupBy' object has no attribute 'order_number'

In [278]:
T = 0
folder = 'trainW-'+str(T)
train = pd.read_csv('../../input/preprocessed_data/trainW-{0}.csv'.format(T))[['msno','is_churn']]
##################################################
# Load  
##################################################
input_col = ['msno','transaction_date','is_cancel','is_auto_renew']
transactions = utils.read_multiple_csv('../../input/preprocessed_data/transactions') # 20,000,000

transactions = transactions.head(n = 5000)
##################################################
# Convert string to datetime format
##################################################
transactions['transaction_date']  = transactions.transaction_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

df = pd.merge(train, 
transactions[(transactions.transaction_date < datetime.strptime('2017-03-01', '%Y-%m-%d'))], 
on=['msno'], 
how='left')

100%|██████████| 4/4 [00:26<00:00,  6.70s/it]

In [279]:
df = df.dropna()

# all history

In [280]:
df = df.groupby('msno').apply(make_order_number)

In [281]:
tbl_ = df.groupby('msno').is_cancel.sum().to_frame()
tbl_.columns = ['cancel_total_count']
tbl_.reset_index(inplace = True)

In [288]:
df = df.groupby('msno').apply(make_order_number)
#count
cnt = df.groupby(['msno', 'is_cancel']).size()
cnt.name = 'cnt'
cnt = cnt.reset_index()
cnt
# chance
user_onb_max = df.groupby('msno').order_number.max().reset_index()
user_onb_max.columns = ['msno', 'onb_max']
user_onb_max
user_is_cancel_min = df.groupby(['msno', 'is_cancel']).order_number.min().reset_index()
user_is_cancel_min.columns = ['msno', 'is_cancel', 'onb_min']

chance = pd.merge(user_is_cancel_min, user_onb_max, on='msno', how='left')
chance['is_cancel_chance'] = chance.onb_max - chance.onb_min +1

tbl = pd.merge(cnt, chance, on= ['msno', 'is_cancel'], how='left')
tbl['cancel_ratio_by_chance'] = tbl.cnt / tbl.is_cancel_chance
# total_count
tbl_ = df.groupby('msno').is_cancel.sum().to_frame()
tbl_.columns = ['cancel_total_count']
tbl_['cancel_total_count_ratio'] = df.groupby('msno').is_cancel.mean()
tbl_.reset_index(inplace = True)
tbl = pd.merge(tbl, tbl_, on = 'msno')
col = ['msno', 'is_cancel_chance', 'cancel_ratio_by_chance','cancel_total_count','cancel_total_count_ratio']
tbl = tbl[col]
tbl.drop_duplicates('msno',keep = 'last',inplace = True) # 只要is_cancel == 1

In [289]:
tbl
# cancel_ratio

,msno,is_cancel_chance,cancel_ratio_by_chance,cancel_total_count,cancel_total_count_ratio
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,4,1.000000,0.0,0.000000
1,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,20,1.000000,0.0,0.000000
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,26,1.000000,0.0,0.000000
3,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,12,1.000000,0.0,0.000000
4,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,20,1.000000,0.0,0.000000
5,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,22,1.000000,0.0,0.000000
6,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,12,1.000000,0.0,0.000000
7,++0BJXY8tpirgIhJR14LDM1pnaRosjD1mdO1mIKxlJA=,16,1.000000,0.0,0.000000
8,++0EzISdtKY48Z0GY62jer/LFQwrNIAbADdtU5xStGY=,6,1.000000,0.0,0.000000
9,++0wqjjQge1mBBe5r4ciHGKwtF/m322zkra7CK8I+Mw=,16,1.000000,0.0,0.000000
10,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,18,1.000000,0.0,0.000000
11,++1GCIyXZO7834NjDKmcK1lBVLQi9PsN6sOC7wfW+8g=,8,1.000000,0.0,0.000000
12,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,9,1.000000,0.0,0.000000
13,++2Ju1OdxLSyexwhZ/C0glNK0DMIfUjsFpk9lt8Dll8=,9,1.000000,0.0,0.000000
14,++38dVm0EHKCOfND6oEal3xFKtqJYZTZJmnpbAOOZBk=,17,1.000000,0.0,0.000000
15,++3A6JMzYJeron30GTcDostfXoAl8rTBuB2M8GeVdNU=,24,1.000000,0.0,0.000000
17,++3Z+W8OPnpbHYfrKwqRKN1bF83XEbxjdYUolhGdHZg=,22,0.045455,1.0,0.037037
18,++3fWHRDC5GWWlovHcrOKWNwZYOjWWkJyeLlL65uv78=,14,1.000000,0.0,0.000000
19,++3wqX72HmowxFh5MrHvNi5Ce8D3ldo4zaUL932TYbs=,17,1.000000,0.0,0.000000
20,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,26,1.000000,0.0,0.000000
22,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,14,0.142857,2.0,0.071429
23,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,9,1.000000,0.0,0.000000
24,++5XBxbJNz3idK9egVoGbWJ4xhGQu2MR0pSP0kL9DK4=,26,1.000000,0.0,0.000000
25,++5Z7z4xXBhCjID+BYk/RLkqtTTAULRXhvjfOc88aEw=,11,1.000000,0.0,0.000000
27,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,17,0.058824,1.0,0.047619
28,++64pHA0OvDq9P9nEAVqSQONHE1ODxEM0KmcazJxKZ8=,4,1.000000,0.0,0.000000
29,++6P09mCSJSh+Ft2pvZ0FWTrtcI3v1A7h3/coh8dBKw=,20,1.000000,0.0,0.000000
30,++6xEqu4JANaRY4GjEfEFtLtqOvZvYPyP3uk/PW9Ces=,8,1.000000,0.0,0.000000
31,++7Fx1LQKDAsjctHxn6p+YoSDe9iniEhjosrxBNFR6A=,20,1.000000,0.0,0.000000
32,++8XaEDast796K/DQcP7sSoRQ8JRnA7X5S+oyXEw62E=,26,1.000000,0.0,0.000000
...,...,...,...,...,...
199,++nPmTjej8IMwfA+zZXSkkHM/MhR1ibBIdwTVNMGneg=,26,1.000000,0.0,0.000000
200,++nhU6lVjYUlMEY0Qwomckvmym3qmV8gJ04rqz9xJIo=,8,1.000000,0.0,0.000000
201,++oHFD7UreMI4Y8AGTr8IcLMuqGad/khOqmIqJqe76E=,14,1.000000,0.0,0.000000
202,++oXIXmgqlMjdoyLncPieObbuXZeSHGDsI6xk15WkIM=,22,1.000000,0.0,0.000000
203,++olB9uxEDUs2pBFnWIWrMm1P0WuocLRK+CLs6HVrKc=,5,1.000000,0.0,0.000000
204,++onKF9LHXZ2aiLJFHiJJbSmy8PYJzisRh04oYJHLrs=,18,1.000000,0.0,0.000000
205,++orpnUqSevh2M5A97pRRiONA58g5m9DwaNrhD44HY0=,7,1.000000,0.0,0.000000
206,++p6L2TJlICw3K3JwiQ4sQolMUXu8eZg7G9WWpMKdQQ=,18,1.000000,0.0,0.000000
208,++pCffaply7OuAlbcK4QgrwyNAbxYgoL+0gXW/XjIIo=,18,0.055556,1.0,0.037037
210,++pSqgOqSB8laOm+RTW6NLTqsMVQ0egh4Rs5+GOSJrQ=,22,0.090909,2.0,0.068966
211,++pf843ARb28liJaCFIK7ouI3swBNzbdovsLmwAe3Y4=,12,1.000000,0.0,0.000000
212,++pkrwG4GIuYh2HavRGMrv92sqrEoroFkdyMrVlRhTw=,17,1.000000,0.0,0.000000
213,++q5H6EGXhcw5ZLmpphFtoCN0f2FsE/A/au7vy0NOw4=,17,1.000000,0.0,0.000000
214,++qB56h2/tpY147EshiGtaK1OOLNsalAYJUkHbchtFI=,17,1.000000,0.0,0.000000
215,++r+jGFxZ+e5zGDKlSFhkasqNRAV6TjCwRjt2CTrQxU=,14,1.000000,0.0,0.000000
217,++r9mKptLWw8f5X2H/AsUYwzQgYtAVJQNEp5qrLEhQ8=,35,0.057143,2.0,0.048780
218,++rE67rpwcqzEB5cFamYf6O1i9esOKyEyO75ql1FZEM=,13,1.000000,0.0,0.000000
219,++rGlQmV4d2KvewtsXvImb2GYo4KsGZwUA+T/hcEsz4=,14,1.000000,0.0,0.000000
220,++rcjlr7qVHqdsxNbe/k6DIhfbC6ljNV1Gb3Nu+6Y2M=,20,1.000000,0.0,0.000000
221,++rumohJe9+fjDc412feoMBYFT3YDc4+eI0kJrvCjUw=,7,1.000000,0.0,0.000000
222,++s7jWRVn1x0cJXvWHeuZ9fscw4dOTGtSLJ1rptkTys=,2,1.000000,0.0,0.000000
223,++sZDZRX7R//O8O10IoAheuNo5cMkYTogj1uW12qmfc=,26,1.000000,0.0,0.000000
225,++sZWXQ1v6+vf3GHez2B+CmMxTBSy8lEONF6d5E3bcI=,17,0.058824,1.0,0.040000
226,++tA62JyGn95A7puex98xNgwsJMfmD1UCdtEkvTNTE8=,6,1.000000,0.0,0.000000
227,++tZwZlXcLFSrhkBk5f/yCHGmqxcT6VoextVNw6vaGY=,5,1.000000,0.0,0.000000
228,++tcLd2HsJ2dUlg1nJdOGn1PVETAoQa7im0RevgpojM=,26,1.000000,0.0,0.000000
229,++tofICy5EV1xvkICkAQ5aFFjlCjoTknWWfb9lz+I0Q=,16,1.000000,0.0,0.000000
230,++tu+FoFA5v7stTTX4RDTf5mtOhBLmblCqZ6Hjt1L5A=,12,1.000000,0.0,0.000000
232,++uDHOCBpcTe2TOrYTNCS7OFo20AdAh1ZButm/UujQo=,14,0.071429,1.0,0.037037
233,++v7Q4BYjprrVuqZpChNEXHoXWZQSU3HR5hGJo4+sWk=,20,1.000000,0.0,0.000000

In [287]:
df[df.msno == '+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=']

,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,order_number
686849,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41.0,30.0,99.0,99.0,1.0,2016-11-16,2016-12-15,0.0,1
686850,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41.0,30.0,99.0,99.0,1.0,2016-12-15,2017-01-15,0.0,2
686851,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41.0,30.0,99.0,99.0,1.0,2017-01-15,2017-02-15,0.0,3
686852,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,0,41.0,30.0,99.0,99.0,1.0,2017-02-15,2017-03-15,0.0,4

In [285]:
tbl[tbl.msno == '++mnT+fA+ilPMzHgEhsyS91vWjM7iRy7//aq/eVTm6s=']

,msno,is_cancel_chance,cancel_ratio_by_chance,cancel_total_count
198,++mnT+fA+ilPMzHgEhsyS91vWjM7iRy7//aq/eVTm6s=,14,0.142857,2.0

In [286]:
tbl[tbl.msno.duplicated()]

Empty DataFrame
Columns: [msno, is_cancel_chance, cancel_ratio_by_chance, cancel_total_count]
Index: []

In [131]:
def near(x, keep = 5):
    return x.tail(keep)
#df_ = df.groupby('msno').apply(near,5).reset_index(drop = True)

# near5

In [207]:
df_ = df.groupby('msno').apply(near,5).reset_index(drop = True)
df_ = df_.groupby('msno').apply(make_order_number)
#count
cnt = df_.groupby(['msno', 'is_cancel']).size()
cnt.name = 'cnt'
cnt = cnt.reset_index()
cnt
# chance
user_onb_max = df_.groupby('msno').order_number.max().reset_index()
user_onb_max.columns = ['msno', 'onb_max']
user_onb_max
user_is_cancel_min = df_.groupby(['msno', 'is_cancel']).order_number.min().reset_index()
user_is_cancel_min.columns = ['msno', 'is_cancel', 'onb_min']

chance = pd.merge(user_is_cancel_min, user_onb_max, on='msno', how='left')
chance['is_cancel_chance'] = chance.onb_max - chance.onb_min +1

tbl = pd.merge(cnt, chance, on= ['msno', 'is_cancel'], how='left')
tbl['cancel_ratio_by_chance'] = tbl.cnt / tbl.is_cancel_chance
col = ['msno', 'is_cancel_chance', 'cancel_ratio_by_chance']
tbl = tbl[col]
tbl.drop_duplicates('msno',keep = 'last',inplace = True) # 只要is_cancel == 1

In [210]:
tbl[tbl.msno == '++mnT+fA+ilPMzHgEhsyS91vWjM7iRy7//aq/eVTm6s=']

,msno,is_cancel_chance,cancel_ratio_by_chance
168,++mnT+fA+ilPMzHgEhsyS91vWjM7iRy7//aq/eVTm6s=,3,0.333333

In [209]:
tbl[tbl.msno.duplicated()]

Empty DataFrame
Columns: [msno, is_cancel_chance, cancel_ratio_by_chance]
Index: []

# only 1

In [213]:
df_ = df.groupby('msno').apply(near,1).reset_index(drop = True)
df_ = df_.groupby('msno').apply(make_order_number)
#count
cnt = df_.groupby(['msno', 'is_cancel']).size()
cnt.name = 'cnt'
cnt = cnt.reset_index()
cnt
# chance
user_onb_max = df_.groupby('msno').order_number.max().reset_index()
user_onb_max.columns = ['msno', 'onb_max']
user_onb_max
user_is_cancel_min = df_.groupby(['msno', 'is_cancel']).order_number.min().reset_index()
user_is_cancel_min.columns = ['msno', 'is_cancel', 'onb_min']

chance = pd.merge(user_is_cancel_min, user_onb_max, on='msno', how='left')
chance['is_cancel_chance'] = chance.onb_max - chance.onb_min +1

tbl = pd.merge(cnt, chance, on= ['msno', 'is_cancel'], how='left')
tbl['cancel_ratio_by_chance'] = tbl.cnt / tbl.is_cancel_chance
col = ['msno', 'is_cancel_chance', 'cancel_ratio_by_chance']
tbl = tbl[col]
tbl.drop_duplicates('msno',keep = 'last',inplace = True) # 只要is_cancel == 1

In [214]:
tbl[tbl.msno == '++mnT+fA+ilPMzHgEhsyS91vWjM7iRy7//aq/eVTm6s=']

,msno,is_cancel_chance,cancel_ratio_by_chance
162,++mnT+fA+ilPMzHgEhsyS91vWjM7iRy7//aq/eVTm6s=,1,1.0

In [215]:
tbl[tbl.msno.duplicated()]

Empty DataFrame
Columns: [msno, is_cancel_chance, cancel_ratio_by_chance]
Index: []

In [172]:
##################################################
# only one prvious order
##################################################
df_ = df.groupby('msno').apply(near,1).reset_index(drop = True)
#cnt
cnt = df_.groupby(['msno', 'is_cancel']).size()
cnt.name = 'cnt'
cnt = cnt.reset_index()
# chance
user_onb_max = df_.groupby('msno').order_number.max().reset_index()
user_onb_max.columns = ['msno', 'onb_max']
user_onb_max
user_is_cancel_min = df_.groupby(['msno', 'is_cancel']).order_number.min().reset_index()
user_is_cancel_min.columns = ['msno', 'is_cancel', 'onb_min']

chance = pd.merge(user_is_cancel_min, user_onb_max, on='msno', how='left')
chance['chance'] = chance.onb_max - chance.onb_min +1

tbl = pd.merge(cnt, chance, on= ['msno', 'is_cancel'], how='left')
tbl['is_cancel_ratio_by_chance'] = tbl.cnt / tbl.chance
col = ['msno', 'order_number', 'is_cancel_ratio_by_chance']
tbl = tbl.rename(columns = {'chance':'order_number'})[col]
tbl = pd.merge(df_,tbl, on = ['msno'])
tbl = tbl[output]
tbl.drop_duplicates('msno',keep = 'last', inplace = True)
# print ('fucking', tbl)
tbl

,msno,transaction_date,is_cancel,is_auto_renew,order_number_x,order_number_y,is_cancel_ratio_by_chance
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2017-02-15,0.0,1.0,4,1,1.0
1,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,2017-02-28,0.0,1.0,20,1,1.0
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,2017-02-26,0.0,1.0,26,1,1.0
3,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,2017-02-15,0.0,1.0,12,1,1.0
4,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,2017-02-28,0.0,1.0,20,1,1.0
5,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,2017-02-28,0.0,1.0,22,1,1.0
6,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,2017-02-20,0.0,1.0,12,1,1.0
7,++0BJXY8tpirgIhJR14LDM1pnaRosjD1mdO1mIKxlJA=,2017-02-24,0.0,0.0,16,1,1.0
8,++0EzISdtKY48Z0GY62jer/LFQwrNIAbADdtU5xStGY=,2016-10-24,0.0,0.0,6,1,1.0
9,++0wqjjQge1mBBe5r4ciHGKwtF/m322zkra7CK8I+Mw=,2017-02-06,0.0,1.0,16,1,1.0
10,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,2017-02-09,0.0,1.0,18,1,1.0
11,++1GCIyXZO7834NjDKmcK1lBVLQi9PsN6sOC7wfW+8g=,2017-02-04,0.0,1.0,8,1,1.0
12,++1Wu2wKBA60W9F9sMh15RXmh1wN1fjoVGzNqvw/Gro=,2017-02-21,0.0,1.0,9,1,1.0
13,++2Ju1OdxLSyexwhZ/C0glNK0DMIfUjsFpk9lt8Dll8=,2017-02-12,0.0,1.0,9,1,1.0
14,++38dVm0EHKCOfND6oEal3xFKtqJYZTZJmnpbAOOZBk=,2017-02-23,0.0,1.0,17,1,1.0
15,++3A6JMzYJeron30GTcDostfXoAl8rTBuB2M8GeVdNU=,2017-02-11,0.0,1.0,24,1,1.0
16,++3Z+W8OPnpbHYfrKwqRKN1bF83XEbxjdYUolhGdHZg=,2017-02-03,0.0,1.0,27,1,1.0
17,++3fWHRDC5GWWlovHcrOKWNwZYOjWWkJyeLlL65uv78=,2017-02-20,0.0,1.0,14,1,1.0
18,++3wqX72HmowxFh5MrHvNi5Ce8D3ldo4zaUL932TYbs=,2017-02-25,0.0,1.0,17,1,1.0
19,++4RuqBw0Ss6bQU4oMxaRlbBPoWzoEiIZaxPM04Y4+U=,2017-02-13,0.0,1.0,26,1,1.0
20,++4cUL0b9CfW8cj0A/wfSxQc4k4fcVtWcLqk2UOdpKs=,2017-02-26,0.0,1.0,28,1,1.0
21,++4wuAZmfzMBjRHP4vDpTk+jkj9Xam8SW5rNJrGFEsE=,2017-02-28,0.0,1.0,9,1,1.0
22,++5XBxbJNz3idK9egVoGbWJ4xhGQu2MR0pSP0kL9DK4=,2017-02-18,0.0,1.0,26,1,1.0
23,++5Z7z4xXBhCjID+BYk/RLkqtTTAULRXhvjfOc88aEw=,2017-02-23,0.0,1.0,11,1,1.0
24,++5wYjoMgQHoRuD3GbbvmphZbBBwymzv5Q4l8sywtuU=,2017-02-28,0.0,1.0,21,1,1.0
25,++64pHA0OvDq9P9nEAVqSQONHE1ODxEM0KmcazJxKZ8=,2017-02-19,0.0,1.0,4,1,1.0
26,++6P09mCSJSh+Ft2pvZ0FWTrtcI3v1A7h3/coh8dBKw=,2017-02-28,0.0,1.0,20,1,1.0
27,++6xEqu4JANaRY4GjEfEFtLtqOvZvYPyP3uk/PW9Ces=,2017-02-28,0.0,1.0,8,1,1.0
28,++7Fx1LQKDAsjctHxn6p+YoSDe9iniEhjosrxBNFR6A=,2017-02-25,0.0,1.0,20,1,1.0
29,++8XaEDast796K/DQcP7sSoRQ8JRnA7X5S+oyXEw62E=,2017-02-21,0.0,1.0,26,1,1.0
...,...,...,...,...,...,...,...
163,++nPmTjej8IMwfA+zZXSkkHM/MhR1ibBIdwTVNMGneg=,2017-02-13,0.0,1.0,26,1,1.0
164,++nhU6lVjYUlMEY0Qwomckvmym3qmV8gJ04rqz9xJIo=,2017-02-28,0.0,1.0,8,1,1.0
165,++oHFD7UreMI4Y8AGTr8IcLMuqGad/khOqmIqJqe76E=,2017-02-06,0.0,1.0,14,1,1.0
166,++oXIXmgqlMjdoyLncPieObbuXZeSHGDsI6xk15WkIM=,2017-02-28,0.0,1.0,22,1,1.0
167,++olB9uxEDUs2pBFnWIWrMm1P0WuocLRK+CLs6HVrKc=,2017-02-02,0.0,1.0,5,1,1.0
168,++onKF9LHXZ2aiLJFHiJJbSmy8PYJzisRh04oYJHLrs=,2017-02-09,0.0,1.0,18,1,1.0
169,++orpnUqSevh2M5A97pRRiONA58g5m9DwaNrhD44HY0=,2017-02-12,0.0,1.0,7,1,1.0
170,++p6L2TJlICw3K3JwiQ4sQolMUXu8eZg7G9WWpMKdQQ=,2017-02-24,0.0,1.0,18,1,1.0
171,++pCffaply7OuAlbcK4QgrwyNAbxYgoL+0gXW/XjIIo=,2017-02-22,0.0,1.0,27,1,1.0
172,++pSqgOqSB8laOm+RTW6NLTqsMVQ0egh4Rs5+GOSJrQ=,2017-02-04,0.0,1.0,29,1,1.0
173,++pf843ARb28liJaCFIK7ouI3swBNzbdovsLmwAe3Y4=,2017-02-14,0.0,1.0,12,1,1.0
174,++pkrwG4GIuYh2HavRGMrv92sqrEoroFkdyMrVlRhTw=,2017-02-24,0.0,1.0,17,1,1.0
175,++q5H6EGXhcw5ZLmpphFtoCN0f2FsE/A/au7vy0NOw4=,2017-02-08,0.0,1.0,17,1,1.0
176,++qB56h2/tpY147EshiGtaK1OOLNsalAYJUkHbchtFI=,2017-02-28,0.0,1.0,17,1,1.0
177,++r+jGFxZ+e5zGDKlSFhkasqNRAV6TjCwRjt2CTrQxU=,2017-02-22,0.0,1.0,14,1,1.0
178,++r9mKptLWw8f5X2H/AsUYwzQgYtAVJQNEp5qrLEhQ8=,2017-02-22,0.0,1.0,41,1,1.0
179,++rE67rpwcqzEB5cFamYf6O1i9esOKyEyO75ql1FZEM=,2017-02-20,0.0,1.0,13,1,1.0
180,++rGlQmV4d2KvewtsXvImb2GYo4KsGZwUA+T/hcEsz4=,2017-02-09,0.0,1.0,14,1,1.0
181,++rcjlr7qVHqdsxNbe/k6DIhfbC6ljNV1Gb3Nu+6Y2M=,2017-02-28,0.0,1.0,20,1,1.0
182,++rumohJe9+fjDc412feoMBYFT3YDc4+eI0kJrvCjUw=,2017-02-28,0.0,1.0,7,1,1.0
183,++s7jWRVn1x0cJXvWHeuZ9fscw4dOTGtSLJ1rptkTys=,2017-02-06,0.0,0.0,2,1,1.0
184,++sZDZRX7R//O8O10IoAheuNo5cMkYTogj1uW12qmfc=,2017-02-20,0.0,1.0,26,1,1.0
185,++sZWXQ1v6+vf3GHez2B+CmMxTBSy8lEONF6d5E3bcI=,2017-02-27,0.0,1.0,25,1,1.0
186,++tA62JyGn95A7puex98xNgwsJMfmD1UCdtEkvTNTE8=,2017-02-17,0.0,1.0,6,1,1.0
187,++tZwZlXcLFSrhkBk5f/yCHGmqxcT6VoextVNw6vaGY=,2017-02-15,0.0,1.0,5,1,1.0
188,++tcLd2HsJ2dUlg1nJdOGn1PVETAoQa7im0RevgpojM=,2017-02-07,0.0,1.0,26,1,1.0
189,++tofICy5EV1xvkICkAQ5aFFjlCjoTknWWfb9lz+I0Q=,2017-02-06,0.0,1.0,16,1,1.0
190,++tu+FoFA5v7stTTX4RDTf5mtOhBLmblCqZ6Hjt1L5A=,2017-02-25,0.0,1.0,12,1,1.0
191,++uDHOCBpcTe2TOrYTNCS7OFo20AdAh1ZButm/UujQo=,2017-02-08,0.0,1.0,27,1,1.0
192,++v7Q4BYjprrVuqZpChNEXHoXWZQSU3HR5hGJo4+sWk=,2017-02-06,0.0,1.0,20,1,1.0

In [171]:
df_[df_.msno == '++MRn/eFl4FPB8NdhvT9LyZXvtF8K48qS8lizaT2WDM=']

,msno,transaction_date,is_cancel,is_auto_renew,order_number
72,++MRn/eFl4FPB8NdhvT9LyZXvtF8K48qS8lizaT2WDM=,2017-02-07,0.0,1.0,13