In [1]:
#!/usr/bin/python3
# -*-coding:utf-8
'''
Created on Fri Dec 1 22:22:35 2017

@author: Ray

'''
import time
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import utils # written by author
from glob import glob
from datetime import datetime, timedelta
import multiprocessing as mp
import gc # for automatic releasing memory

# trainW-0

In [102]:
T = 0
folder = 'trainW-'+ str(T)
train = pd.read_csv('../../input/preprocessed_data/trainW-{0}.csv'.format(T))[['msno']]
user_logs = utils.read_multiple_csv('../../feature/{}/user_lgos_listening_freq'.format(folder),parse_dates = ['date'])
#user_logs.sort_values(by = ['msno','date'], inplace = True)

100%|██████████| 10/10 [00:00<00:00, 138.30it/s]

In [103]:
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(user_logs)
utils.reduce_memory(train)

reduce memory

In [104]:
# basic step
df = pd.merge(train,user_logs, on = 'msno', how = 'left')
df.sort_values(by = ['msno','date'], inplace = True)

In [105]:
df = df.dropna()

In [115]:
def t_diff(x, time_diff):
    for i in range(1, time_diff):
        x['t-{}_date'.format(i)] = x['date'].shift(i)
    return x
def within_n_days(x, T, n = 7):
    # n = 7, 14, 30, 60, 90
    ##################################################
    # Filtering accroding to w
    ##################################################
    if T == 0:
        # w = 0:使用3月之前的資料當作history
        prediction_deadline = datetime.strptime('2017-03-01', '%Y-%m-%d')
    elif T == 1:
        # w = 1:使用2月之前的資料當作history
        prediction_deadline = datetime.strptime('2017-02-01', '%Y-%m-%d')
    elif T == 2:
        # w = 2:使用1月之前的資料當作history
        prediction_deadline = datetime.strptime('2017-01-01', '%Y-%m-%d')
    elif T == -1:
        # w = -1:使用4月之前的資料當作history
        prediction_deadline = datetime.strptime('2017-04-01', '%Y-%m-%d')
    # n = 7, 14, 21, 30
    check_points = prediction_deadline - timedelta(n) # 往prediction_deadline前n天內
    x = x[ (x.date >= check_points )]
    # 如果有些使用者在預測deadline前n天內沒有資料,到時候再concat, merge的時候會是nan就把它補-1
    return x

In [107]:
input_col = ['msno','date']
df = df[input_col].groupby('msno').apply(t_diff,2)
df['date_diff'] = [i.days for i in (df.date - df['t-1_date']) ] # 每一個trainW-0只做一次
df = df.tail(n = df.shape[0] -1 ) # 第一筆不要
gc.collect()

67

In [108]:
#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(df)
df.drop(['t-1_date'], axis = 1, inplace = True)# saving memory
df = df.tail(n = df.shape[0] -1 )

reduce memory

In [112]:
df.head()

                                                msno       date  date_diff
767182  Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM= 2015-06-16        1.0
767195  Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM= 2015-06-17        1.0
767219  Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM= 2015-06-18        1.0
767231  Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM= 2015-06-19        1.0
767243  Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM= 2015-06-20        1.0

In [110]:
# core
tbl = df[df.date_diff == 1].groupby('msno').date_diff.size().to_frame()
tbl.columns = ['num_listen_music_in_a_row_count']
tbl['num_listen_music_in_a_row_ratio'] = tbl.num_listen_music_in_a_row_count / df.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)
tbl

,msno,num_listen_music_in_a_row_count,num_listen_music_in_a_row_ratio
0,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,584,0.971714

In [128]:
	##################################################
	# n = 7
	##################################################
	df_ = df.groupby('msno').apply(within_n_days, T, n = 7).reset_index(drop = True)
	#core
	tbl = df_[df_.date_diff == 1].groupby('msno').date_diff.size().to_frame()
	tbl.columns = ['listen_music_in_a_row_count_during_t_7']
	tbl['listen_music_in_a_row_ratio_during_t_7'] = tbl.listen_music_in_a_row_count_during_t_7 / df_.groupby('msno').date_diff.apply(len)
	tbl.reset_index(inplace = True)

In [129]:
tbl

,msno,listen_music_in_a_row_count_during_t_7,listen_music_in_a_row_ratio_during_t_7
0,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,4,0.8

In [126]:
##################################################
# n = 14
##################################################
df_ = df.groupby('msno').apply(within_n_days, T, n = 14).reset_index(drop = True)
#core
tbl = df_[df_.date_diff == 1].groupby('msno').date_diff.size().to_frame()
tbl.columns = ['listen_music_in_a_row_count_during_t_14']
tbl['listen_music_in_a_row_ratio_during_t_14'] = tbl.listen_music_in_a_row_count_during_t_14 / df_.groupby('msno').date_diff.apply(len)
tbl.reset_index(inplace = True)

In [127]:
tbl

,msno,listen_music_in_a_row_count_during_t_14,listen_music_in_a_row_ratio_during_t_14
0,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,9,0.818182

# test

In [25]:
folder = 'test'
user_logs = utils.read_multiple_csv('../../feature/{}/user_lgos_listening_behavior'.format(folder))

100%|██████████| 10/10 [00:00<00:00, 394.34it/s]

In [26]:
user_logs[user_logs.msno == 'Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=']

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,num_completed_songs,num_incompleted_songs,completed_songs_ratio,is_satisfied,num_repeated_songs
0,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-07-01,6,1,1,0,14,22,14,8,0.636364,1,0.681818
1,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-09-01,21,3,0,1,42,59,43,24,0.641791,1,0.728814
2,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-10-23,18,0,4,3,72,92,75,22,0.773196,1,0.858696
3,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-12-13,1,0,0,0,21,21,21,1,0.954545,1,1.000000
4,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-02-01,10,3,0,1,38,48,39,13,0.750000,1,0.812500
5,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-03-22,2,0,0,1,27,29,28,2,0.933333,1,0.965517
6,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-05-12,12,4,5,6,109,104,115,21,0.845588,1,1.153846
7,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-07-02,16,2,1,4,27,45,31,19,0.620000,1,0.711111
8,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-08-21,0,0,0,0,1,1,1,0,1.000000,1,1.000000
9,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-10-10,14,2,3,6,63,74,69,19,0.784091,1,0.972973
10,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-11-30,23,1,1,2,22,45,24,25,0.489796,0,0.555556
11,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-01-20,28,3,4,1,53,86,54,35,0.606742,1,0.674419
12,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-07-02,17,2,1,3,143,128,146,20,0.879518,1,1.148438
13,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-09-02,38,5,3,3,85,104,88,46,0.656716,1,0.875000
14,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-10-24,25,0,4,0,72,81,72,29,0.712871,1,0.938272
15,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-12-14,4,1,0,0,61,40,61,5,0.924242,1,1.525000
16,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-02-02,16,2,1,1,70,74,71,19,0.788889,1,0.972973
17,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-03-23,23,2,2,2,57,72,59,27,0.686047,1,0.847222
18,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-05-13,6,1,1,2,14,23,16,8,0.666667,1,0.739130
19,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-07-03,3,2,0,1,15,18,16,5,0.761905,1,0.888889
20,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-08-22,22,7,2,3,60,79,63,31,0.670213,1,0.822785
21,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-10-11,3,0,0,1,10,14,11,3,0.785714,1,0.785714
22,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-12-01,3,1,1,1,24,29,25,5,0.833333,1,0.896552
23,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-01-21,4,0,0,1,21,25,22,4,0.846154,1,0.880000
24,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-07-16,3,0,0,0,12,15,12,3,0.800000,1,0.800000
25,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-09-15,14,4,0,2,38,51,40,18,0.689655,1,0.784314
26,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-11-06,14,1,1,2,19,35,21,16,0.567568,1,0.628571
27,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2015-12-26,2,1,0,2,4,6,6,3,0.666667,1,1.000000
28,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-02-14,27,9,6,2,55,86,57,42,0.575758,1,0.732558
29,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2016-04-05,2,0,0,0,57,56,57,2,0.966102,1,1.017857
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-02 00:00:00,1,0,1,0,34,31,34,2,0.944444,1,1.129032
34,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-14 00:00:00,6,1,0,0,10,13,10,7,0.588235,1,0.769231
35,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-12 00:00:00,1,0,0,0,8,9,8,1,0.888889,1,0.888889
36,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-15 00:00:00,7,2,2,0,57,53,57,11,0.838235,1,1.113208
37,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-29 00:00:00,6,4,7,5,73,85,78,17,0.821053,1,1.000000
38,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-27 00:00:00,10,3,1,0,19,33,19,14,0.575758,1,0.606061
39,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-20 00:00:00,7,1,0,1,30,39,31,8,0.794872,1,0.794872
40,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-31 00:00:00,28,1,2,3,61,92,64,31,0.673684,1,0.717391
41,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-28 00:00:00,11,3,4,2,19,35,21,18,0.538462,1,0.714286
42,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-17 00:00:00,0,0,0,1,3,4,4,0,1.000000,1,1.000000
43,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-05 00:00:00,2,2,0,1,8,7,9,4,0.692308,1,1.285714
44,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-13 00:00:00,1,0,0,1,10,9,11,1,0.916667,1,1.222222
45,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-30 00:00:00,19,6,0,3,42,50,45,25,0.642857,1,0.900000
46,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-21 00:00:00,10,1,2,1,17,27,18,13,0.580645,1,0.740741
47,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-23 00:00:00,76,12,5,4,77,162,81,93,0.465517,0,0.530864
48,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-22 00:00:00,29,2,3,0,30,58,30,34,0.468750,0,0.568966
49,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-09 00:00:00,7,0,2,2,63,62,65,9,0.878378,1,1.080645
50,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-24 00:00:00,17,2,1,1,35,53,36,20,0.642857,1,0.698113
51,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-11 00:00:00,1,0,1,1,12,14,13,2,0.866667,1,1.000000
52,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-16 00:00:00,4,4,0,2,34,41,36,8,0.818182,1,0.878049
53,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-06 00:00:00,2,4,0,0,3,8,3,6,0.333333,0,0.375000
54,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-03 00:00:00,3,3,2,2,23,30,25,8,0.757576,1,0.900000
55,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-19 00:00:00,6,2,0,2,22,24,24,8,0.750000,1,1.000000
56,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-25 00:00:00,0,0,1,0,4,4,4,1,0.800000,1,1.250000
57,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-01 00:00:00,3,1,3,2,17,25,19,7,0.730769,1,0.880000
58,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-04 00:00:00,0,0,0,0,8,8,8,0,1.000000,1,1.000000
59,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-07 00:00:00,7,1,1,1,90,83,91,9,0.910000,1,1.108434
60,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-26 00:00:00,2,0,1,0,4,6,4,3,0.571429,1,0.833333
61,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-18 00:00:00,8,2,1,1,70,43,71,11,0.865854,1,1.674419
62,Pz51LVoS9ENG1kNHQyrJ3gG8A163pyHi+gyvN2p+1nM=,2017-03-10 00:00:00,0,1,0,0,10,8,10,1,0.909091,1,1.250000

In [7]:
user_logs

,date,msno,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs_percentage,listening_habit_zone,num_of_time_the_user_has_logged_in,num_of_time_the_user_has_logged_in_ratio
3790,2015-08-18,RU75VCMW4eB6wHm1OFHyhK5/kPRikRYEET1jaLFobiI=,-1,-1,-1,-1,-1,-1,0.237463,2,24221.978516,6055.494629
4238,2016-01-30,p+59mhC3bE5x1sejuoIKGcq84z8VzSBL51GoCMTgYF4=,-1,-1,-1,-1,-1,-1,0.202898,2,42537.332031,14179.110352
100,2016-12-02,8WtZy307X8qfOUtuNIPFAyckcBlbQvOHn19DMsYCkcs=,-1,-1,-1,-1,-1,-1,0.037327,4,10437.060547,5218.530273
5327,2016-09-04,RKYtu5T1O7nLzdKk9sj75LVI8BlGIw0Tzbev64L5eLM=,-1,-1,-1,-1,-1,-1,0.025866,4,24547.656250,3068.457031
5401,2017-02-27,0EquqhtrfzpwJjGLCuzBvEArnqBRBsp5UoIocCzA32I=,-1,-1,-1,-1,-1,-1,0.049611,3,15469.943359,3867.485840
119,2015-12-23,Jgys/AsreAeCWb8Lv4ruvf/9D75Prq3b2msq2mdGtH8=,-1,-1,-1,-1,-1,-1,0.011170,4,11374.484375,1895.747437
918,2016-03-29,3ixxoForQ+NIP99dFQvu5wU3Q2D/pXgF+U3+eMTvSBI=,-1,-1,-1,-1,-1,-1,0.038321,4,43741.640625,8748.328125
5746,2016-10-15,KhKyYtYxGsb0lrE8qtz+zOlj9gUnWEkZoKuPucoiEXY=,-1,-1,-1,-1,-1,-1,0.488007,2,168716.937500,21089.617188
5637,2016-04-23,foZhV2R6MzY54/kzTY5ACmaddm1al2ukkimVhjoVEg8=,-1,-1,-1,-1,-1,-1,0.035596,4,3075.507080,3075.507080
3297,2016-11-14,sC9vlNuGvWZxd1pp1sLZqbkEdS1cs7oPJYL83MgdDnA=,-1,-1,-1,-1,-1,-1,0.094881,3,145071.484375,14507.148438